openapi: 3.0.0
info:
  title: Databricks Catalog API
  description: API for Databricks catalog service
  version: 1.0.0
  contact:
    name: Databricks
    url: https://databricks.com
servers:
- url: https://accounts.cloud.databricks.com
  description: Databricks Account API
  variables:
    account_id:
      default: your-account-id
      description: Databricks account ID
paths:
  /api/2.0/accounts/{account_id}/metastores:
    post:
      operationId: create
      summary: Creates a Unity Catalog metastore.
      description: 'Creates a Unity Catalog metastore.


        :param metastore_info: :class:`CreateAccountsMetastore` (optional)


        :returns: :class:`AccountsCreateMetastoreResponse`'
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAccountsMetastore'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsCreateMetastoreResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list
      summary: Gets all Unity Catalog metastores associated with an account specified
        by ID.
      description: 'Gets all Unity Catalog metastores associated with an account specified
        by ID.



        :returns: Iterator over :class:`MetastoreInfo`'
      tags:
      - catalog
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetastoreInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/artifact-allowlists/{value}:
    get:
      operationId: get
      summary: 'Get the artifact allowlist of a certain artifact type. The caller
        must be a metastore admin or have

        the **MANAGE ALLOWLIST** privilege on the metastore.'
      description: "Get the artifact allowlist of a certain artifact type. The caller\
        \ must be a metastore admin or have\nthe **MANAGE ALLOWLIST** privilege on\
        \ the metastore.\n\n:param artifact_type: :class:`ArtifactType`\n  The artifact\
        \ type of the allowlist.\n\n:returns: :class:`ArtifactAllowlistInfo`"
      tags:
      - catalog
      parameters:
      - name: artifact_type
        description: :class:`ArtifactType` The artifact type of the allowlist.
        required: true
        schema:
          type: string
          enum:
          - INIT_SCRIPT
          - LIBRARY_JAR
          - LIBRARY_MAVEN
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactAllowlistInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/catalogs:
    post:
      operationId: create
      summary: 'Creates a new catalog instance in the parent metastore if the caller
        is a metastore admin or has the

        **CREATE_CATALOG** privilege.'
      description: "Creates a new catalog instance in the parent metastore if the\
        \ caller is a metastore admin or has the\n**CREATE_CATALOG** privilege.\n\n\
        :param name: str\n  Name of catalog.\n:param comment: str (optional)\n  User-provided\
        \ free-form text description.\n:param connection_name: str (optional)\n  The\
        \ name of the connection to an external data source.\n:param options: Dict[str,str]\
        \ (optional)\n  A map of key-value properties attached to the securable.\n\
        :param properties: Dict[str,str] (optional)\n  A map of key-value properties\
        \ attached to the securable.\n:param provider_name: str (optional)\n  The\
        \ name of delta sharing provider.\n\n  A Delta Sharing catalog is a catalog\
        \ that is based on a Delta share on a remote sharing server.\n:param share_name:\
        \ str (optional)\n  The name of the share under the share provider.\n:param\
        \ storage_root: str (optional)\n  Storage root URL for managed tables within\
        \ catalog.\n\n:returns: :class:`CatalogInfo`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: str Name of catalog.
                comment:
                  type: string
                  description: str (optional) User-provided free-form text description.
                connection_name:
                  type: string
                  description: str (optional) The name of the connection to an external
                    data source.
                options:
                  type: object
                  additionalProperties: true
                  description: Dict[str,str] (optional) A map of key-value properties
                    attached to the securable.
                properties:
                  type: object
                  additionalProperties: true
                  description: Dict[str,str] (optional) A map of key-value properties
                    attached to the securable.
                provider_name:
                  type: string
                  description: str (optional) The name of delta sharing provider.
                    A Delta Sharing catalog is a catalog that is based on a Delta
                    share on a remote sharing server.
                share_name:
                  type: string
                  description: str (optional) The name of the share under the share
                    provider.
                storage_root:
                  type: string
                  description: str (optional) Storage root URL for managed tables
                    within catalog.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list
      summary: 'Gets an array of catalogs in the metastore. If the caller is the metastore
        admin, all catalogs will be

        retrieved. Otherwise, only catalogs owned by the caller (or for which the
        caller has the

        **USE_CATALOG** privilege) will be retrieved. There is no guarantee of a specific
        ordering of the

        elements in the array.'
      description: "Gets an array of catalogs in the metastore. If the caller is the\
        \ metastore admin, all catalogs will be\nretrieved. Otherwise, only catalogs\
        \ owned by the caller (or for which the caller has the\n**USE_CATALOG** privilege)\
        \ will be retrieved. There is no guarantee of a specific ordering of the\n\
        elements in the array.\n\nNOTE: we recommend using max_results=0 to use the\
        \ paginated version of this API. Unpaginated calls\nwill be deprecated soon.\n\
        \nPAGINATION BEHAVIOR: When using pagination (max_results >= 0), a page may\
        \ contain zero results while\nstill providing a next_page_token. Clients must\
        \ continue reading pages until next_page_token is\nabsent, which is the only\
        \ indication that the end of results has been reached. This behavior follows\n\
        Google AIP-158 guidelines.\n\n:param include_browse: bool (optional)\n  Whether\
        \ to include catalogs in the response for which the principal can only access\
        \ selective\n  metadata for\n:param include_unbound: bool (optional)\n  Whether\
        \ to include catalogs not bound to the workspace. Effective only if the user\
        \ has permission to\n  update the catalog–workspace binding.\n:param max_results:\
        \ int (optional)\n  Maximum number of catalogs to return. - when set to 0,\
        \ the page length is set to a server configured\n  value (recommended); -\
        \ when set to a value greater than 0, the page length is the minimum of this\n\
        \  value and a server configured value; - when set to a value less than 0,\
        \ an invalid parameter error\n  is returned; - If not set, all valid catalogs\
        \ are returned (not recommended). - Note: The number of\n  returned catalogs\
        \ might be less than the specified max_results size, even zero. The only definitive\n\
        \  indication that no further catalogs can be fetched is when the next_page_token\
        \ is unset from the\n  response.\n:param page_token: str (optional)\n  Opaque\
        \ pagination token to go to next page based on previous query.\n\n:returns:\
        \ Iterator over :class:`CatalogInfo`"
      tags:
      - catalog
      parameters:
      - name: include_browse
        description: bool (optional) Whether to include catalogs in the response for
          which the principal can only access selective metadata for
        required: false
        schema:
          type: boolean
        in: query
      - name: include_unbound
        description: bool (optional) Whether to include catalogs not bound to the
          workspace. Effective only if the user has permission to update the catalog–workspace
          binding.
        required: false
        schema:
          type: boolean
        in: query
      - name: max_results
        description: 'int (optional) Maximum number of catalogs to return. - when
          set to 0, the page length is set to a server configured value (recommended);
          - when set to a value greater than 0, the page length is the minimum of
          this value and a server configured value; - when set to a value less than
          0, an invalid parameter error is returned; - If not set, all valid catalogs
          are returned (not recommended). - Note: The number of returned catalogs
          might be less than the specified max_results size, even zero. The only definitive
          indication that no further catalogs can be fetched is when the next_page_token
          is unset from the response.'
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque pagination token to go to next page based
          on previous query.
        required: false
        schema:
          type: string
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/catalogs/{name}:
    delete:
      operationId: delete
      summary: 'Deletes the catalog that matches the supplied name. The caller must
        be a metastore admin or the owner

        of the catalog.'
      description: "Deletes the catalog that matches the supplied name. The caller\
        \ must be a metastore admin or the owner\nof the catalog.\n\n:param name:\
        \ str\n  The name of the catalog.\n:param force: bool (optional)\n  Force\
        \ deletion even if the catalog is not empty."
      tags:
      - catalog
      parameters:
      - name: name
        description: str The name of the catalog.
        required: true
        schema:
          type: string
        in: path
      - name: force
        description: bool (optional) Force deletion even if the catalog is not empty.
        required: false
        schema:
          type: boolean
        in: query
      responses:
        '200':
          description: Success
    get:
      operationId: get
      summary: 'Gets the specified catalog in a metastore. The caller must be a metastore
        admin, the owner of the

        catalog, or a user that has the **USE_CATALOG** privilege set for their account.'
      description: "Gets the specified catalog in a metastore. The caller must be\
        \ a metastore admin, the owner of the\ncatalog, or a user that has the **USE_CATALOG**\
        \ privilege set for their account.\n\n:param name: str\n  The name of the\
        \ catalog.\n:param include_browse: bool (optional)\n  Whether to include catalogs\
        \ in the response for which the principal can only access selective\n  metadata\
        \ for\n\n:returns: :class:`CatalogInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str The name of the catalog.
        required: true
        schema:
          type: string
        in: path
      - name: include_browse
        description: bool (optional) Whether to include catalogs in the response for
          which the principal can only access selective metadata for
        required: false
        schema:
          type: boolean
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    patch:
      operationId: update
      summary: 'Updates the catalog that matches the supplied name. The caller must
        be either the owner of the

        catalog, or a metastore admin (when changing the owner field of the catalog).'
      description: "Updates the catalog that matches the supplied name. The caller\
        \ must be either the owner of the\ncatalog, or a metastore admin (when changing\
        \ the owner field of the catalog).\n\n:param name: str\n  The name of the\
        \ catalog.\n:param comment: str (optional)\n  User-provided free-form text\
        \ description.\n:param enable_predictive_optimization: :class:`EnablePredictiveOptimization`\
        \ (optional)\n  Whether predictive optimization should be enabled for this\
        \ object and objects under it.\n:param isolation_mode: :class:`CatalogIsolationMode`\
        \ (optional)\n  Whether the current securable is accessible from all workspaces\
        \ or a specific set of workspaces.\n:param new_name: str (optional)\n  New\
        \ name for the catalog.\n:param options: Dict[str,str] (optional)\n  A map\
        \ of key-value properties attached to the securable.\n:param owner: str (optional)\n\
        \  Username of current owner of catalog.\n:param properties: Dict[str,str]\
        \ (optional)\n  A map of key-value properties attached to the securable.\n\
        \n:returns: :class:`CatalogInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str The name of the catalog.
        required: true
        schema:
          type: string
        in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: str (optional) User-provided free-form text description.
                enable_predictive_optimization:
                  type: string
                  enum:
                  - DISABLE
                  - ENABLE
                  - INHERIT
                  description: :class:`EnablePredictiveOptimization` (optional) Whether
                    predictive optimization should be enabled for this object and
                    objects under it.
                isolation_mode:
                  type: string
                  enum:
                  - ISOLATED
                  - OPEN
                  description: :class:`CatalogIsolationMode` (optional) Whether the
                    current securable is accessible from all workspaces or a specific
                    set of workspaces.
                new_name:
                  type: string
                  description: str (optional) New name for the catalog.
                options:
                  type: object
                  additionalProperties: true
                  description: Dict[str,str] (optional) A map of key-value properties
                    attached to the securable.
                owner:
                  type: string
                  description: str (optional) Username of current owner of catalog.
                properties:
                  type: object
                  additionalProperties: true
                  description: Dict[str,str] (optional) A map of key-value properties
                    attached to the securable.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CatalogInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/connections:
    post:
      operationId: create
      summary: Creates a new connection
      description: "Creates a new connection\n\nCreates a new connection to an external\
        \ data source. It allows users to specify connection details and\nconfigurations\
        \ for interaction with the external server.\n\n:param name: str\n  Name of\
        \ the connection.\n:param connection_type: :class:`ConnectionType`\n  The\
        \ type of connection.\n:param options: Dict[str,str]\n  A map of key-value\
        \ properties attached to the securable.\n:param comment: str (optional)\n\
        \  User-provided free-form text description.\n:param properties: Dict[str,str]\
        \ (optional)\n  A map of key-value properties attached to the securable.\n\
        :param read_only: bool (optional)\n  If the connection is read only.\n\n:returns:\
        \ :class:`ConnectionInfo`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: str Name of the connection.
                connection_type:
                  type: string
                  enum:
                  - BIGQUERY
                  - DATABRICKS
                  - GA4_RAW_DATA
                  - GLUE
                  - HIVE_METASTORE
                  - HTTP
                  - MYSQL
                  - ORACLE
                  - PALANTIR
                  - POSTGRESQL
                  - POWER_BI
                  - REDSHIFT
                  - SALESFORCE
                  - SALESFORCE_DATA_CLOUD
                  - SERVICENOW
                  - SNOWFLAKE
                  - SQLDW
                  - SQLSERVER
                  - TERADATA
                  - UNKNOWN_CONNECTION_TYPE
                  - WORKDAY_RAAS
                  description: :class:`ConnectionType` The type of connection.
                options:
                  type: object
                  additionalProperties: true
                  description: Dict[str,str] A map of key-value properties attached
                    to the securable.
                comment:
                  type: string
                  description: str (optional) User-provided free-form text description.
                properties:
                  type: object
                  additionalProperties: true
                  description: Dict[str,str] (optional) A map of key-value properties
                    attached to the securable.
                read_only:
                  type: boolean
                  description: bool (optional) If the connection is read only.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list
      summary: List all connections.
      description: "List all connections.\n\nNOTE: we recommend using max_results=0\
        \ to use the paginated version of this API. Unpaginated calls\nwill be deprecated\
        \ soon.\n\nPAGINATION BEHAVIOR: When using pagination (max_results >= 0),\
        \ a page may contain zero results while\nstill providing a next_page_token.\
        \ Clients must continue reading pages until next_page_token is\nabsent, which\
        \ is the only indication that the end of results has been reached. This behavior\
        \ follows\nGoogle AIP-158 guidelines.\n\n:param max_results: int (optional)\n\
        \  Maximum number of connections to return. - If not set, all connections\
        \ are returned (not\n  recommended). - when set to a value greater than 0,\
        \ the page length is the minimum of this value and\n  a server configured\
        \ value; - when set to 0, the page length is set to a server configured value\n\
        \  (recommended); - when set to a value less than 0, an invalid parameter\
        \ error is returned;\n:param page_token: str (optional)\n  Opaque pagination\
        \ token to go to next page based on previous query.\n\n:returns: Iterator\
        \ over :class:`ConnectionInfo`"
      tags:
      - catalog
      parameters:
      - name: max_results
        description: int (optional) Maximum number of connections to return. - If
          not set, all connections are returned (not recommended). - when set to a
          value greater than 0, the page length is the minimum of this value and a
          server configured value; - when set to 0, the page length is set to a server
          configured value (recommended); - when set to a value less than 0, an invalid
          parameter error is returned;
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque pagination token to go to next page based
          on previous query.
        required: false
        schema:
          type: string
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/connections/{name}:
    delete:
      operationId: delete
      summary: Deletes the connection that matches the supplied name.
      description: "Deletes the connection that matches the supplied name.\n\n:param\
        \ name: str\n  The name of the connection to be deleted."
      tags:
      - catalog
      parameters:
      - name: name
        description: str The name of the connection to be deleted.
        required: true
        schema:
          type: string
        in: path
      responses:
        '200':
          description: Success
    get:
      operationId: get
      summary: Gets a connection from it's name.
      description: "Gets a connection from it's name.\n\n:param name: str\n  Name\
        \ of the connection.\n\n:returns: :class:`ConnectionInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str Name of the connection.
        required: true
        schema:
          type: string
        in: path
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    patch:
      operationId: update
      summary: Updates the connection that matches the supplied name.
      description: "Updates the connection that matches the supplied name.\n\n:param\
        \ name: str\n  Name of the connection.\n:param options: Dict[str,str]\n  A\
        \ map of key-value properties attached to the securable.\n:param new_name:\
        \ str (optional)\n  New name for the connection.\n:param owner: str (optional)\n\
        \  Username of current owner of the connection.\n\n:returns: :class:`ConnectionInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str Name of the connection.
        required: true
        schema:
          type: string
        in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                options:
                  type: object
                  additionalProperties: true
                  description: Dict[str,str] A map of key-value properties attached
                    to the securable.
                new_name:
                  type: string
                  description: str (optional) New name for the connection.
                owner:
                  type: string
                  description: str (optional) Username of current owner of the connection.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/credentials:
    post:
      operationId: create_credential
      summary: 'Creates a new credential. The type of credential to be created is
        determined by the **purpose** field,

        which should be either **SERVICE** or **STORAGE**.'
      description: "Creates a new credential. The type of credential to be created\
        \ is determined by the **purpose** field,\nwhich should be either **SERVICE**\
        \ or **STORAGE**.\n\nThe caller must be a metastore admin or have the metastore\
        \ privilege **CREATE_STORAGE_CREDENTIAL** for\nstorage credentials, or **CREATE_SERVICE_CREDENTIAL**\
        \ for service credentials.\n\n:param name: str\n  The credential name. The\
        \ name must be unique among storage and service credentials within the\n \
        \ metastore.\n:param aws_iam_role: :class:`AwsIamRole` (optional)\n  The AWS\
        \ IAM role configuration.\n:param azure_managed_identity: :class:`AzureManagedIdentity`\
        \ (optional)\n  The Azure managed identity configuration.\n:param azure_service_principal:\
        \ :class:`AzureServicePrincipal` (optional)\n  The Azure service principal\
        \ configuration.\n:param comment: str (optional)\n  Comment associated with\
        \ the credential.\n:param databricks_gcp_service_account: :class:`DatabricksGcpServiceAccount`\
        \ (optional)\n  The Databricks managed GCP service account configuration.\n\
        :param purpose: :class:`CredentialPurpose` (optional)\n  Indicates the purpose\
        \ of the credential.\n:param read_only: bool (optional)\n  Whether the credential\
        \ is usable only for read operations. Only applicable when purpose is\n  **STORAGE**.\n\
        :param skip_validation: bool (optional)\n  Optional. Supplying true to this\
        \ argument skips validation of the created set of credentials.\n\n:returns:\
        \ :class:`CredentialInfo`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: str The credential name. The name must be unique among
                    storage and service credentials within the metastore.
                aws_iam_role:
                  $ref: '#/components/schemas/AwsIamRole'
                azure_managed_identity:
                  $ref: '#/components/schemas/AzureManagedIdentity'
                azure_service_principal:
                  $ref: '#/components/schemas/AzureServicePrincipal'
                comment:
                  type: string
                  description: str (optional) Comment associated with the credential.
                databricks_gcp_service_account:
                  $ref: '#/components/schemas/DatabricksGcpServiceAccount'
                purpose:
                  type: string
                  enum:
                  - SERVICE
                  - STORAGE
                  description: :class:`CredentialPurpose` (optional) Indicates the
                    purpose of the credential.
                read_only:
                  type: boolean
                  description: bool (optional) Whether the credential is usable only
                    for read operations. Only applicable when purpose is **STORAGE**.
                skip_validation:
                  type: boolean
                  description: bool (optional) Optional. Supplying true to this argument
                    skips validation of the created set of credentials.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list_credentials
      summary: Gets an array of credentials (as __CredentialInfo__ objects).
      description: "Gets an array of credentials (as __CredentialInfo__ objects).\n\
        \nThe array is limited to only the credentials that the caller has permission\
        \ to access. If the caller\nis a metastore admin, retrieval of credentials\
        \ is unrestricted. There is no guarantee of a specific\nordering of the elements\
        \ in the array.\n\n:param include_unbound: bool (optional)\n  Whether to include\
        \ credentials not bound to the workspace. Effective only if the user has permission\n\
        \  to update the credential–workspace binding.\n:param max_results: int (optional)\n\
        \  Maximum number of credentials to return. - If not set, the default max\
        \ page size is used. - When set\n  to a value greater than 0, the page length\
        \ is the minimum of this value and a server-configured\n  value. - When set\
        \ to 0, the page length is set to a server-configured value (recommended).\
        \ - When\n  set to a value less than 0, an invalid parameter error is returned.\n\
        :param page_token: str (optional)\n  Opaque token to retrieve the next page\
        \ of results.\n:param purpose: :class:`CredentialPurpose` (optional)\n  Return\
        \ only credentials for the specified purpose.\n\n:returns: Iterator over :class:`CredentialInfo`"
      tags:
      - catalog
      parameters:
      - name: include_unbound
        description: bool (optional) Whether to include credentials not bound to the
          workspace. Effective only if the user has permission to update the credential–workspace
          binding.
        required: false
        schema:
          type: boolean
        in: query
      - name: max_results
        description: int (optional) Maximum number of credentials to return. - If
          not set, the default max page size is used. - When set to a value greater
          than 0, the page length is the minimum of this value and a server-configured
          value. - When set to 0, the page length is set to a server-configured value
          (recommended). - When set to a value less than 0, an invalid parameter error
          is returned.
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque token to retrieve the next page of results.
        required: false
        schema:
          type: string
        in: query
      - name: purpose
        description: :class:`CredentialPurpose` (optional) Return only credentials
          for the specified purpose.
        required: false
        schema:
          type: string
          enum:
          - SERVICE
          - STORAGE
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/credentials/{name_arg}:
    delete:
      operationId: delete_credential
      summary: 'Deletes a service or storage credential from the metastore. The caller
        must be an owner of the

        credential.'
      description: "Deletes a service or storage credential from the metastore. The\
        \ caller must be an owner of the\ncredential.\n\n:param name_arg: str\n  Name\
        \ of the credential.\n:param force: bool (optional)\n  Force an update even\
        \ if there are dependent services (when purpose is **SERVICE**) or dependent\n\
        \  external locations and external tables (when purpose is **STORAGE**)."
      tags:
      - catalog
      parameters:
      - name: name_arg
        description: str Name of the credential.
        required: true
        schema:
          type: string
        in: path
      - name: force
        description: bool (optional) Force an update even if there are dependent services
          (when purpose is **SERVICE**) or dependent external locations and external
          tables (when purpose is **STORAGE**).
        required: false
        schema:
          type: boolean
        in: query
      responses:
        '200':
          description: Success
    get:
      operationId: get_credential
      summary: 'Gets a service or storage credential from the metastore. The caller
        must be a metastore admin, the

        owner of the credential, or have any permission on the credential.'
      description: "Gets a service or storage credential from the metastore. The caller\
        \ must be a metastore admin, the\nowner of the credential, or have any permission\
        \ on the credential.\n\n:param name_arg: str\n  Name of the credential.\n\n\
        :returns: :class:`CredentialInfo`"
      tags:
      - catalog
      parameters:
      - name: name_arg
        description: str Name of the credential.
        required: true
        schema:
          type: string
        in: path
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    patch:
      operationId: update_credential
      summary: Updates a service or storage credential on the metastore.
      description: "Updates a service or storage credential on the metastore.\n\n\
        The caller must be the owner of the credential or a metastore admin or have\
        \ the `MANAGE` permission.\nIf the caller is a metastore admin, only the __owner__\
        \ field can be changed.\n\n:param name_arg: str\n  Name of the credential.\n\
        :param aws_iam_role: :class:`AwsIamRole` (optional)\n  The AWS IAM role configuration.\n\
        :param azure_managed_identity: :class:`AzureManagedIdentity` (optional)\n\
        \  The Azure managed identity configuration.\n:param azure_service_principal:\
        \ :class:`AzureServicePrincipal` (optional)\n  The Azure service principal\
        \ configuration.\n:param comment: str (optional)\n  Comment associated with\
        \ the credential.\n:param databricks_gcp_service_account: :class:`DatabricksGcpServiceAccount`\
        \ (optional)\n  The Databricks managed GCP service account configuration.\n\
        :param force: bool (optional)\n  Force an update even if there are dependent\
        \ services (when purpose is **SERVICE**) or dependent\n  external locations\
        \ and external tables (when purpose is **STORAGE**).\n:param isolation_mode:\
        \ :class:`IsolationMode` (optional)\n  Whether the current securable is accessible\
        \ from all workspaces or a specific set of workspaces.\n:param new_name: str\
        \ (optional)\n  New name of credential.\n:param owner: str (optional)\n  Username\
        \ of current owner of credential.\n:param read_only: bool (optional)\n  Whether\
        \ the credential is usable only for read operations. Only applicable when\
        \ purpose is\n  **STORAGE**.\n:param skip_validation: bool (optional)\n  Supply\
        \ true to this argument to skip validation of the updated credential.\n\n\
        :returns: :class:`CredentialInfo`"
      tags:
      - catalog
      parameters:
      - name: name_arg
        description: str Name of the credential.
        required: true
        schema:
          type: string
        in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                aws_iam_role:
                  $ref: '#/components/schemas/AwsIamRole'
                azure_managed_identity:
                  $ref: '#/components/schemas/AzureManagedIdentity'
                azure_service_principal:
                  $ref: '#/components/schemas/AzureServicePrincipal'
                comment:
                  type: string
                  description: str (optional) Comment associated with the credential.
                databricks_gcp_service_account:
                  $ref: '#/components/schemas/DatabricksGcpServiceAccount'
                force:
                  type: boolean
                  description: bool (optional) Force an update even if there are dependent
                    services (when purpose is **SERVICE**) or dependent external locations
                    and external tables (when purpose is **STORAGE**).
                isolation_mode:
                  type: string
                  enum:
                  - ISOLATION_MODE_ISOLATED
                  - ISOLATION_MODE_OPEN
                  description: :class:`IsolationMode` (optional) Whether the current
                    securable is accessible from all workspaces or a specific set
                    of workspaces.
                new_name:
                  type: string
                  description: str (optional) New name of credential.
                owner:
                  type: string
                  description: str (optional) Username of current owner of credential.
                read_only:
                  type: boolean
                  description: bool (optional) Whether the credential is usable only
                    for read operations. Only applicable when purpose is **STORAGE**.
                skip_validation:
                  type: boolean
                  description: bool (optional) Supply true to this argument to skip
                    validation of the updated credential.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/temporary-service-credentials:
    post:
      operationId: generate_temporary_service_credential
      summary: 'Returns a set of temporary credentials generated using the specified
        service credential. The caller

        must be a metastore admin or have the metastore privilege **ACCESS** on the
        service credential.'
      description: "Returns a set of temporary credentials generated using the specified\
        \ service credential. The caller\nmust be a metastore admin or have the metastore\
        \ privilege **ACCESS** on the service credential.\n\n:param credential_name:\
        \ str\n  The name of the service credential used to generate a temporary credential\n\
        :param azure_options: :class:`GenerateTemporaryServiceCredentialAzureOptions`\
        \ (optional)\n:param gcp_options: :class:`GenerateTemporaryServiceCredentialGcpOptions`\
        \ (optional)\n\n:returns: :class:`TemporaryCredentials`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credential_name:
                  type: string
                  description: str The name of the service credential used to generate
                    a temporary credential
                azure_options:
                  $ref: '#/components/schemas/GenerateTemporaryServiceCredentialAzureOptions'
                gcp_options:
                  $ref: '#/components/schemas/GenerateTemporaryServiceCredentialGcpOptions'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporaryCredentials'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/validate-credentials:
    post:
      operationId: validate_credential
      summary: Validates a credential.
      description: "Validates a credential.\n\nFor service credentials (purpose is\
        \ **SERVICE**), either the __credential_name__ or the cloud-specific\ncredential\
        \ must be provided.\n\nFor storage credentials (purpose is **STORAGE**), at\
        \ least one of __external_location_name__ and\n__url__ need to be provided.\
        \ If only one of them is provided, it will be used for validation. And if\n\
        both are provided, the __url__ will be used for validation, and __external_location_name__\
        \ will be\nignored when checking overlapping urls. Either the __credential_name__\
        \ or the cloud-specific\ncredential must be provided.\n\nThe caller must be\
        \ a metastore admin or the credential owner or have the required permission\
        \ on the\nmetastore and the credential (e.g., **CREATE_EXTERNAL_LOCATION**\
        \ when purpose is **STORAGE**).\n\n:param aws_iam_role: :class:`AwsIamRole`\
        \ (optional)\n:param azure_managed_identity: :class:`AzureManagedIdentity`\
        \ (optional)\n:param credential_name: str (optional)\n  Required. The name\
        \ of an existing credential or long-lived cloud credential to validate.\n\
        :param databricks_gcp_service_account: :class:`DatabricksGcpServiceAccount`\
        \ (optional)\n:param external_location_name: str (optional)\n  The name of\
        \ an existing external location to validate. Only applicable for storage credentials\n\
        \  (purpose is **STORAGE**.)\n:param purpose: :class:`CredentialPurpose` (optional)\n\
        \  The purpose of the credential. This should only be used when the credential\
        \ is specified.\n:param read_only: bool (optional)\n  Whether the credential\
        \ is only usable for read operations. Only applicable for storage credentials\n\
        \  (purpose is **STORAGE**.)\n:param url: str (optional)\n  The external location\
        \ url to validate. Only applicable when purpose is **STORAGE**.\n\n:returns:\
        \ :class:`ValidateCredentialResponse`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                aws_iam_role:
                  $ref: '#/components/schemas/AwsIamRole'
                azure_managed_identity:
                  $ref: '#/components/schemas/AzureManagedIdentity'
                credential_name:
                  type: string
                  description: str (optional) Required. The name of an existing credential
                    or long-lived cloud credential to validate.
                databricks_gcp_service_account:
                  $ref: '#/components/schemas/DatabricksGcpServiceAccount'
                external_location_name:
                  type: string
                  description: str (optional) The name of an existing external location
                    to validate. Only applicable for storage credentials (purpose
                    is **STORAGE**.)
                purpose:
                  type: string
                  enum:
                  - SERVICE
                  - STORAGE
                  description: :class:`CredentialPurpose` (optional) The purpose of
                    the credential. This should only be used when the credential is
                    specified.
                read_only:
                  type: boolean
                  description: bool (optional) Whether the credential is only usable
                    for read operations. Only applicable for storage credentials (purpose
                    is **STORAGE**.)
                url:
                  type: string
                  description: str (optional) The external location url to validate.
                    Only applicable when purpose is **STORAGE**.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateCredentialResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/entity-tag-assignments:
    post:
      operationId: create
      summary: Creates a tag assignment for an Unity Catalog entity.
      description: 'Creates a tag assignment for an Unity Catalog entity.


        To add tags to Unity Catalog entities, you must own the entity or have the
        following privileges: -

        **APPLY TAG** on the entity - **USE SCHEMA** on the entity''s parent schema
        - **USE CATALOG** on the

        entity''s parent catalog


        To add a governed tag to Unity Catalog entities, you must also have the **ASSIGN**
        or **MANAGE**

        permission on the tag policy. See [Manage tag policy permissions].


        [Manage tag policy permissions]: https://docs.databricks.com/aws/en/admin/tag-policies/manage-permissions


        :param tag_assignment: :class:`EntityTagAssignment`


        :returns: :class:`EntityTagAssignment`'
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EntityTagAssignment'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityTagAssignment'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.0/lineage-tracking/external-lineage:
    post:
      operationId: create_external_lineage_relationship
      summary: 'Creates an external lineage relationship between a Databricks or external
        metadata object and another

        external metadata object.'
      description: 'Creates an external lineage relationship between a Databricks
        or external metadata object and another

        external metadata object.


        :param external_lineage_relationship: :class:`CreateRequestExternalLineage`


        :returns: :class:`ExternalLineageRelationship`'
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRequestExternalLineage'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLineageRelationship'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    delete:
      operationId: delete_external_lineage_relationship
      summary: 'Deletes an external lineage relationship between a Databricks or external
        metadata object and another

        external metadata object.'
      description: 'Deletes an external lineage relationship between a Databricks
        or external metadata object and another

        external metadata object.


        :param external_lineage_relationship: :class:`DeleteRequestExternalLineage`'
      tags:
      - catalog
      parameters:
      - name: external_lineage_relationship
        description: :class:`DeleteRequestExternalLineage`
        required: true
        schema:
          $ref: '#/components/schemas/DeleteRequestExternalLineage'
        in: query
      responses:
        '200':
          description: Success
    get:
      operationId: list_external_lineage_relationships
      summary: 'Lists external lineage relationships of a Databricks object or external
        metadata given a supplied

        direction.'
      description: "Lists external lineage relationships of a Databricks object or\
        \ external metadata given a supplied\ndirection.\n\n:param object_info: :class:`ExternalLineageObject`\n\
        \  The object to query external lineage relationships for. Since this field\
        \ is a query parameter,\n  please flatten the nested fields. For example,\
        \ if the object is a table, the query parameter should\n  look like: `object_info.table.name=main.sales.customers`\n\
        :param lineage_direction: :class:`LineageDirection`\n  The lineage direction\
        \ to filter on.\n:param page_size: int (optional)\n  Specifies the maximum\
        \ number of external lineage relationships to return in a single response.\
        \ The\n  value must be less than or equal to 1000.\n:param page_token: str\
        \ (optional)\n  Opaque pagination token to go to next page based on previous\
        \ query.\n\n:returns: Iterator over :class:`ExternalLineageInfo`"
      tags:
      - catalog
      parameters:
      - name: object_info
        description: ':class:`ExternalLineageObject` The object to query external
          lineage relationships for. Since this field is a query parameter, please
          flatten the nested fields. For example, if the object is a table, the query
          parameter should look like: `object_info.table.name=main.sales.customers`'
        required: true
        schema:
          $ref: '#/components/schemas/ExternalLineageObject'
        in: query
      - name: lineage_direction
        description: :class:`LineageDirection` The lineage direction to filter on.
        required: true
        schema:
          type: string
          enum:
          - DOWNSTREAM
          - UPSTREAM
        in: query
      - name: page_size
        description: int (optional) Specifies the maximum number of external lineage
          relationships to return in a single response. The value must be less than
          or equal to 1000.
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque pagination token to go to next page based
          on previous query.
        required: false
        schema:
          type: string
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLineageInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/external-locations:
    post:
      operationId: create
      summary: 'Creates a new external location entry in the metastore. The caller
        must be a metastore admin or have

        the **CREATE_EXTERNAL_LOCATION** privilege on both the metastore and the associated
        storage

        credential.'
      description: "Creates a new external location entry in the metastore. The caller\
        \ must be a metastore admin or have\nthe **CREATE_EXTERNAL_LOCATION** privilege\
        \ on both the metastore and the associated storage\ncredential.\n\n:param\
        \ name: str\n  Name of the external location.\n:param url: str\n  Path URL\
        \ of the external location.\n:param credential_name: str\n  Name of the storage\
        \ credential used with this location.\n:param comment: str (optional)\n  User-provided\
        \ free-form text description.\n:param enable_file_events: bool (optional)\n\
        \  Whether to enable file events on this external location.\n:param encryption_details:\
        \ :class:`EncryptionDetails` (optional)\n:param fallback: bool (optional)\n\
        \  Indicates whether fallback mode is enabled for this external location.\
        \ When fallback mode is\n  enabled, the access to the location falls back\
        \ to cluster credentials if UC credentials are not\n  sufficient.\n:param\
        \ file_event_queue: :class:`FileEventQueue` (optional)\n  File event queue\
        \ settings. If `enable_file_events` is `true`, must be defined and have exactly\
        \ one\n  of the documented properties.\n:param read_only: bool (optional)\n\
        \  Indicates whether the external location is read-only.\n:param skip_validation:\
        \ bool (optional)\n  Skips validation of the storage credential associated\
        \ with the external location.\n\n:returns: :class:`ExternalLocationInfo`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: str Name of the external location.
                url:
                  type: string
                  description: str Path URL of the external location.
                credential_name:
                  type: string
                  description: str Name of the storage credential used with this location.
                comment:
                  type: string
                  description: str (optional) User-provided free-form text description.
                enable_file_events:
                  type: boolean
                  description: bool (optional) Whether to enable file events on this
                    external location.
                encryption_details:
                  $ref: '#/components/schemas/EncryptionDetails'
                fallback:
                  type: boolean
                  description: bool (optional) Indicates whether fallback mode is
                    enabled for this external location. When fallback mode is enabled,
                    the access to the location falls back to cluster credentials if
                    UC credentials are not sufficient.
                file_event_queue:
                  $ref: '#/components/schemas/FileEventQueue'
                read_only:
                  type: boolean
                  description: bool (optional) Indicates whether the external location
                    is read-only.
                skip_validation:
                  type: boolean
                  description: bool (optional) Skips validation of the storage credential
                    associated with the external location.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLocationInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list
      summary: 'Gets an array of external locations (__ExternalLocationInfo__ objects)
        from the metastore. The caller

        must be a metastore admin, the owner of the external location, or a user that
        has some privilege on

        the external location. There is no guarantee of a specific ordering of the
        elements in the array.'
      description: "Gets an array of external locations (__ExternalLocationInfo__\
        \ objects) from the metastore. The caller\nmust be a metastore admin, the\
        \ owner of the external location, or a user that has some privilege on\nthe\
        \ external location. There is no guarantee of a specific ordering of the elements\
        \ in the array.\n\nNOTE: we recommend using max_results=0 to use the paginated\
        \ version of this API. Unpaginated calls\nwill be deprecated soon.\n\nPAGINATION\
        \ BEHAVIOR: When using pagination (max_results >= 0), a page may contain zero\
        \ results while\nstill providing a next_page_token. Clients must continue\
        \ reading pages until next_page_token is\nabsent, which is the only indication\
        \ that the end of results has been reached. This behavior follows\nGoogle\
        \ AIP-158 guidelines.\n\n:param include_browse: bool (optional)\n  Whether\
        \ to include external locations in the response for which the principal can\
        \ only access\n  selective metadata for\n:param include_unbound: bool (optional)\n\
        \  Whether to include external locations not bound to the workspace. Effective\
        \ only if the user has\n  permission to update the location–workspace binding.\n\
        :param max_results: int (optional)\n  Maximum number of external locations\
        \ to return. If not set, all the external locations are returned\n  (not recommended).\
        \ - when set to a value greater than 0, the page length is the minimum of\
        \ this\n  value and a server configured value; - when set to 0, the page length\
        \ is set to a server configured\n  value (recommended); - when set to a value\
        \ less than 0, an invalid parameter error is returned;\n:param page_token:\
        \ str (optional)\n  Opaque pagination token to go to next page based on previous\
        \ query.\n\n:returns: Iterator over :class:`ExternalLocationInfo`"
      tags:
      - catalog
      parameters:
      - name: include_browse
        description: bool (optional) Whether to include external locations in the
          response for which the principal can only access selective metadata for
        required: false
        schema:
          type: boolean
        in: query
      - name: include_unbound
        description: bool (optional) Whether to include external locations not bound
          to the workspace. Effective only if the user has permission to update the
          location–workspace binding.
        required: false
        schema:
          type: boolean
        in: query
      - name: max_results
        description: int (optional) Maximum number of external locations to return.
          If not set, all the external locations are returned (not recommended). -
          when set to a value greater than 0, the page length is the minimum of this
          value and a server configured value; - when set to 0, the page length is
          set to a server configured value (recommended); - when set to a value less
          than 0, an invalid parameter error is returned;
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque pagination token to go to next page based
          on previous query.
        required: false
        schema:
          type: string
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLocationInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/external-locations/{name}:
    delete:
      operationId: delete
      summary: 'Deletes the specified external location from the metastore. The caller
        must be the owner of the

        external location.'
      description: "Deletes the specified external location from the metastore. The\
        \ caller must be the owner of the\nexternal location.\n\n:param name: str\n\
        \  Name of the external location.\n:param force: bool (optional)\n  Force\
        \ deletion even if there are dependent external tables or mounts."
      tags:
      - catalog
      parameters:
      - name: name
        description: str Name of the external location.
        required: true
        schema:
          type: string
        in: path
      - name: force
        description: bool (optional) Force deletion even if there are dependent external
          tables or mounts.
        required: false
        schema:
          type: boolean
        in: query
      responses:
        '200':
          description: Success
    get:
      operationId: get
      summary: 'Gets an external location from the metastore. The caller must be either
        a metastore admin, the owner

        of the external location, or a user that has some privilege on the external
        location.'
      description: "Gets an external location from the metastore. The caller must\
        \ be either a metastore admin, the owner\nof the external location, or a user\
        \ that has some privilege on the external location.\n\n:param name: str\n\
        \  Name of the external location.\n:param include_browse: bool (optional)\n\
        \  Whether to include external locations in the response for which the principal\
        \ can only access\n  selective metadata for\n\n:returns: :class:`ExternalLocationInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str Name of the external location.
        required: true
        schema:
          type: string
        in: path
      - name: include_browse
        description: bool (optional) Whether to include external locations in the
          response for which the principal can only access selective metadata for
        required: false
        schema:
          type: boolean
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLocationInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    patch:
      operationId: update
      summary: 'Updates an external location in the metastore. The caller must be
        the owner of the external location,

        or be a metastore admin. In the second case, the admin can only update the
        name of the external

        location.'
      description: "Updates an external location in the metastore. The caller must\
        \ be the owner of the external location,\nor be a metastore admin. In the\
        \ second case, the admin can only update the name of the external\nlocation.\n\
        \n:param name: str\n  Name of the external location.\n:param comment: str\
        \ (optional)\n  User-provided free-form text description.\n:param credential_name:\
        \ str (optional)\n  Name of the storage credential used with this location.\n\
        :param enable_file_events: bool (optional)\n  Whether to enable file events\
        \ on this external location.\n:param encryption_details: :class:`EncryptionDetails`\
        \ (optional)\n:param fallback: bool (optional)\n  Indicates whether fallback\
        \ mode is enabled for this external location. When fallback mode is\n  enabled,\
        \ the access to the location falls back to cluster credentials if UC credentials\
        \ are not\n  sufficient.\n:param file_event_queue: :class:`FileEventQueue`\
        \ (optional)\n  File event queue settings. If `enable_file_events` is `true`,\
        \ must be defined and have exactly one\n  of the documented properties.\n\
        :param force: bool (optional)\n  Force update even if changing url invalidates\
        \ dependent external tables or mounts.\n:param isolation_mode: :class:`IsolationMode`\
        \ (optional)\n:param new_name: str (optional)\n  New name for the external\
        \ location.\n:param owner: str (optional)\n  The owner of the external location.\n\
        :param read_only: bool (optional)\n  Indicates whether the external location\
        \ is read-only.\n:param skip_validation: bool (optional)\n  Skips validation\
        \ of the storage credential associated with the external location.\n:param\
        \ url: str (optional)\n  Path URL of the external location.\n\n:returns: :class:`ExternalLocationInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str Name of the external location.
        required: true
        schema:
          type: string
        in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: str (optional) User-provided free-form text description.
                credential_name:
                  type: string
                  description: str (optional) Name of the storage credential used
                    with this location.
                enable_file_events:
                  type: boolean
                  description: bool (optional) Whether to enable file events on this
                    external location.
                encryption_details:
                  $ref: '#/components/schemas/EncryptionDetails'
                fallback:
                  type: boolean
                  description: bool (optional) Indicates whether fallback mode is
                    enabled for this external location. When fallback mode is enabled,
                    the access to the location falls back to cluster credentials if
                    UC credentials are not sufficient.
                file_event_queue:
                  $ref: '#/components/schemas/FileEventQueue'
                force:
                  type: boolean
                  description: bool (optional) Force update even if changing url invalidates
                    dependent external tables or mounts.
                isolation_mode:
                  type: string
                  enum:
                  - ISOLATION_MODE_ISOLATED
                  - ISOLATION_MODE_OPEN
                  description: :class:`IsolationMode` (optional)
                new_name:
                  type: string
                  description: str (optional) New name for the external location.
                owner:
                  type: string
                  description: str (optional) The owner of the external location.
                read_only:
                  type: boolean
                  description: bool (optional) Indicates whether the external location
                    is read-only.
                skip_validation:
                  type: boolean
                  description: bool (optional) Skips validation of the storage credential
                    associated with the external location.
                url:
                  type: string
                  description: str (optional) Path URL of the external location.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalLocationInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.0/lineage-tracking/external-metadata:
    post:
      operationId: create_external_metadata
      summary: 'Creates a new external metadata object in the parent metastore if
        the caller is a metastore admin or

        has the **CREATE_EXTERNAL_METADATA** privilege. Grants **BROWSE** to all account
        users upon creation

        by default.'
      description: 'Creates a new external metadata object in the parent metastore
        if the caller is a metastore admin or

        has the **CREATE_EXTERNAL_METADATA** privilege. Grants **BROWSE** to all account
        users upon creation

        by default.


        :param external_metadata: :class:`ExternalMetadata`


        :returns: :class:`ExternalMetadata`'
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalMetadata'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalMetadata'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list_external_metadata
      summary: 'Gets an array of external metadata objects in the metastore. If the
        caller is the metastore admin, all

        external metadata objects will be retrieved. Otherwise, only external metadata
        objects that the caller

        has **BROWSE** on will be retrieved. There is no guarantee of a specific ordering
        of the elements in

        the array.'
      description: "Gets an array of external metadata objects in the metastore. If\
        \ the caller is the metastore admin, all\nexternal metadata objects will be\
        \ retrieved. Otherwise, only external metadata objects that the caller\nhas\
        \ **BROWSE** on will be retrieved. There is no guarantee of a specific ordering\
        \ of the elements in\nthe array.\n\n:param page_size: int (optional)\n  Specifies\
        \ the maximum number of external metadata objects to return in a single response.\
        \ The value\n  must be less than or equal to 1000.\n:param page_token: str\
        \ (optional)\n  Opaque pagination token to go to next page based on previous\
        \ query.\n\n:returns: Iterator over :class:`ExternalMetadata`"
      tags:
      - catalog
      parameters:
      - name: page_size
        description: int (optional) Specifies the maximum number of external metadata
          objects to return in a single response. The value must be less than or equal
          to 1000.
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque pagination token to go to next page based
          on previous query.
        required: false
        schema:
          type: string
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalMetadata'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.0/lineage-tracking/external-metadata/{name}:
    delete:
      operationId: delete_external_metadata
      summary: 'Deletes the external metadata object that matches the supplied name.
        The caller must be a metastore

        admin, the owner of the external metadata object, or a user that has the **MANAGE**
        privilege.'
      description: 'Deletes the external metadata object that matches the supplied
        name. The caller must be a metastore

        admin, the owner of the external metadata object, or a user that has the **MANAGE**
        privilege.


        :param name: str'
      tags:
      - catalog
      parameters:
      - name: name
        description: str
        required: true
        schema:
          type: string
        in: path
      responses:
        '200':
          description: Success
    get:
      operationId: get_external_metadata
      summary: 'Gets the specified external metadata object in a metastore. The caller
        must be a metastore admin, the

        owner of the external metadata object, or a user that has the **BROWSE** privilege.'
      description: 'Gets the specified external metadata object in a metastore. The
        caller must be a metastore admin, the

        owner of the external metadata object, or a user that has the **BROWSE** privilege.


        :param name: str


        :returns: :class:`ExternalMetadata`'
      tags:
      - catalog
      parameters:
      - name: name
        description: str
        required: true
        schema:
          type: string
        in: path
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalMetadata'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/functions:
    post:
      operationId: create
      summary: '**WARNING: This API is experimental and will change in future versions**'
      description: "**WARNING: This API is experimental and will change in future\
        \ versions**\n\nCreates a new function\n\nThe user must have the following\
        \ permissions in order for the function to be created: -\n**USE_CATALOG**\
        \ on the function's parent catalog - **USE_SCHEMA** and **CREATE_FUNCTION**\
        \ on the\nfunction's parent schema\n\n:param function_info: :class:`CreateFunction`\n\
        \  Partial __FunctionInfo__ specifying the function to be created.\n\n:returns:\
        \ :class:`FunctionInfo`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFunction'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list
      summary: 'List functions within the specified parent catalog and schema. If
        the user is a metastore admin, all

        functions are returned in the output list. Otherwise, the user must have the
        **USE_CATALOG** privilege

        on the catalog and the **USE_SCHEMA** privilege on the schema, and the output
        list contains only

        functions for which either the user has the **EXECUTE** privilege or the user
        is the owner. There is

        no guarantee of a specific ordering of the elements in the array.'
      description: "List functions within the specified parent catalog and schema.\
        \ If the user is a metastore admin, all\nfunctions are returned in the output\
        \ list. Otherwise, the user must have the **USE_CATALOG** privilege\non the\
        \ catalog and the **USE_SCHEMA** privilege on the schema, and the output list\
        \ contains only\nfunctions for which either the user has the **EXECUTE** privilege\
        \ or the user is the owner. There is\nno guarantee of a specific ordering\
        \ of the elements in the array.\n\nNOTE: we recommend using max_results=0\
        \ to use the paginated version of this API. Unpaginated calls\nwill be deprecated\
        \ soon.\n\nPAGINATION BEHAVIOR: When using pagination (max_results >= 0),\
        \ a page may contain zero results while\nstill providing a next_page_token.\
        \ Clients must continue reading pages until next_page_token is\nabsent, which\
        \ is the only indication that the end of results has been reached. This behavior\
        \ follows\nGoogle AIP-158 guidelines.\n\n:param catalog_name: str\n  Name\
        \ of parent catalog for functions of interest.\n:param schema_name: str\n\
        \  Parent schema of functions.\n:param include_browse: bool (optional)\n \
        \ Whether to include functions in the response for which the principal can\
        \ only access selective\n  metadata for\n:param max_results: int (optional)\n\
        \  Maximum number of functions to return. If not set, all the functions are\
        \ returned (not recommended).\n  - when set to a value greater than 0, the\
        \ page length is the minimum of this value and a server\n  configured value;\
        \ - when set to 0, the page length is set to a server configured value\n \
        \ (recommended); - when set to a value less than 0, an invalid parameter error\
        \ is returned;\n:param page_token: str (optional)\n  Opaque pagination token\
        \ to go to next page based on previous query.\n\n:returns: Iterator over :class:`FunctionInfo`"
      tags:
      - catalog
      parameters:
      - name: catalog_name
        description: str Name of parent catalog for functions of interest.
        required: true
        schema:
          type: string
        in: query
      - name: schema_name
        description: str Parent schema of functions.
        required: true
        schema:
          type: string
        in: query
      - name: include_browse
        description: bool (optional) Whether to include functions in the response
          for which the principal can only access selective metadata for
        required: false
        schema:
          type: boolean
        in: query
      - name: max_results
        description: int (optional) Maximum number of functions to return. If not
          set, all the functions are returned (not recommended). - when set to a value
          greater than 0, the page length is the minimum of this value and a server
          configured value; - when set to 0, the page length is set to a server configured
          value (recommended); - when set to a value less than 0, an invalid parameter
          error is returned;
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque pagination token to go to next page based
          on previous query.
        required: false
        schema:
          type: string
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/functions/{name}:
    delete:
      operationId: delete
      summary: 'Deletes the function that matches the supplied name. For the deletion
        to succeed, the user must

        satisfy one of the following conditions: - Is the owner of the function''s
        parent catalog - Is the

        owner of the function''s parent schema and have the **USE_CATALOG** privilege
        on its parent catalog -

        Is the owner of the function itself and have both the **USE_CATALOG** privilege
        on its parent catalog

        and the **USE_SCHEMA** privilege on its parent schema'
      description: "Deletes the function that matches the supplied name. For the deletion\
        \ to succeed, the user must\nsatisfy one of the following conditions: - Is\
        \ the owner of the function's parent catalog - Is the\nowner of the function's\
        \ parent schema and have the **USE_CATALOG** privilege on its parent catalog\
        \ -\nIs the owner of the function itself and have both the **USE_CATALOG**\
        \ privilege on its parent catalog\nand the **USE_SCHEMA** privilege on its\
        \ parent schema\n\n:param name: str\n  The fully-qualified name of the function\
        \ (of the form\n  __catalog_name__.__schema_name__.__function__name__) .\n\
        :param force: bool (optional)\n  Force deletion even if the function is notempty."
      tags:
      - catalog
      parameters:
      - name: name
        description: str The fully-qualified name of the function (of the form __catalog_name__.__schema_name__.__function__name__)
          .
        required: true
        schema:
          type: string
        in: path
      - name: force
        description: bool (optional) Force deletion even if the function is notempty.
        required: false
        schema:
          type: boolean
        in: query
      responses:
        '200':
          description: Success
    get:
      operationId: get
      summary: 'Gets a function from within a parent catalog and schema. For the fetch
        to succeed, the user must

        satisfy one of the following requirements: - Is a metastore admin - Is an
        owner of the function''s

        parent catalog - Have the **USE_CATALOG** privilege on the function''s parent
        catalog and be the owner

        of the function - Have the **USE_CATALOG** privilege on the function''s parent
        catalog, the

        **USE_SCHEMA** privilege on the function''s parent schema, and the **EXECUTE**
        privilege on the

        function itself'
      description: "Gets a function from within a parent catalog and schema. For the\
        \ fetch to succeed, the user must\nsatisfy one of the following requirements:\
        \ - Is a metastore admin - Is an owner of the function's\nparent catalog -\
        \ Have the **USE_CATALOG** privilege on the function's parent catalog and\
        \ be the owner\nof the function - Have the **USE_CATALOG** privilege on the\
        \ function's parent catalog, the\n**USE_SCHEMA** privilege on the function's\
        \ parent schema, and the **EXECUTE** privilege on the\nfunction itself\n\n\
        :param name: str\n  The fully-qualified name of the function (of the form\n\
        \  __catalog_name__.__schema_name__.__function__name__).\n:param include_browse:\
        \ bool (optional)\n  Whether to include functions in the response for which\
        \ the principal can only access selective\n  metadata for\n\n:returns: :class:`FunctionInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str The fully-qualified name of the function (of the form __catalog_name__.__schema_name__.__function__name__).
        required: true
        schema:
          type: string
        in: path
      - name: include_browse
        description: bool (optional) Whether to include functions in the response
          for which the principal can only access selective metadata for
        required: false
        schema:
          type: boolean
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    patch:
      operationId: update
      summary: 'Updates the function that matches the supplied name. Only the owner
        of the function can be updated. If

        the user is not a metastore admin, the user must be a member of the group
        that is the new function

        owner. - Is a metastore admin - Is the owner of the function''s parent catalog
        - Is the owner of the

        function''s parent schema and has the **USE_CATALOG** privilege on its parent
        catalog - Is the owner of

        the function itself and has the **USE_CATALOG** privilege on its parent catalog
        as well as the

        **USE_SCHEMA** privilege on the function''s parent schema.'
      description: "Updates the function that matches the supplied name. Only the\
        \ owner of the function can be updated. If\nthe user is not a metastore admin,\
        \ the user must be a member of the group that is the new function\nowner.\
        \ - Is a metastore admin - Is the owner of the function's parent catalog -\
        \ Is the owner of the\nfunction's parent schema and has the **USE_CATALOG**\
        \ privilege on its parent catalog - Is the owner of\nthe function itself and\
        \ has the **USE_CATALOG** privilege on its parent catalog as well as the\n\
        **USE_SCHEMA** privilege on the function's parent schema.\n\n:param name:\
        \ str\n  The fully-qualified name of the function (of the form\n  __catalog_name__.__schema_name__.__function__name__).\n\
        :param owner: str (optional)\n  Username of current owner of the function.\n\
        \n:returns: :class:`FunctionInfo`"
      tags:
      - catalog
      parameters:
      - name: name
        description: str The fully-qualified name of the function (of the form __catalog_name__.__schema_name__.__function__name__).
        required: true
        schema:
          type: string
        in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                owner:
                  type: string
                  description: str (optional) Username of current owner of the function.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FunctionInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/workspaces/{workspace_id}/metastore:
    put:
      operationId: assign
      summary: 'Creates a new metastore assignment. If an assignment for the same
        __workspace_id__ exists, it will be

        overwritten by the new __metastore_id__ and __default_catalog_name__. The
        caller must be an account

        admin.'
      description: "Creates a new metastore assignment. If an assignment for the same\
        \ __workspace_id__ exists, it will be\noverwritten by the new __metastore_id__\
        \ and __default_catalog_name__. The caller must be an account\nadmin.\n\n\
        :param workspace_id: int\n  A workspace ID.\n:param metastore_id: str\n  The\
        \ unique ID of the metastore.\n:param default_catalog_name: str\n  The name\
        \ of the default catalog in the metastore. This field is deprecated. Please\
        \ use \"Default\n  Namespace API\" to configure the default catalog for a\
        \ Databricks workspace."
      tags:
      - catalog
      parameters:
      - name: workspace_id
        description: int A workspace ID.
        required: true
        schema:
          type: integer
        in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                metastore_id:
                  type: string
                  description: str The unique ID of the metastore.
                default_catalog_name:
                  type: string
                  description: str The name of the default catalog in the metastore.
                    This field is deprecated. Please use "Default Namespace API" to
                    configure the default catalog for a Databricks workspace.
      responses:
        '200':
          description: Success
    patch:
      operationId: update_assignment
      summary: 'Updates a metastore assignment. This operation can be used to update
        __metastore_id__ or

        __default_catalog_name__ for a specified Workspace, if the Workspace is already
        assigned a metastore.

        The caller must be an account admin to update __metastore_id__; otherwise,
        the caller can be a

        Workspace admin.'
      description: "Updates a metastore assignment. This operation can be used to\
        \ update __metastore_id__ or\n__default_catalog_name__ for a specified Workspace,\
        \ if the Workspace is already assigned a metastore.\nThe caller must be an\
        \ account admin to update __metastore_id__; otherwise, the caller can be a\n\
        Workspace admin.\n\n:param workspace_id: int\n  A workspace ID.\n:param default_catalog_name:\
        \ str (optional)\n  The name of the default catalog in the metastore. This\
        \ field is deprecated. Please use \"Default\n  Namespace API\" to configure\
        \ the default catalog for a Databricks workspace.\n:param metastore_id: str\
        \ (optional)\n  The unique ID of the metastore."
      tags:
      - catalog
      parameters:
      - name: workspace_id
        description: int A workspace ID.
        required: true
        schema:
          type: integer
        in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_catalog_name:
                  type: string
                  description: str (optional) The name of the default catalog in the
                    metastore. This field is deprecated. Please use "Default Namespace
                    API" to configure the default catalog for a Databricks workspace.
                metastore_id:
                  type: string
                  description: str (optional) The unique ID of the metastore.
      responses:
        '200':
          description: Success
  /api/2.1/unity-catalog/metastores:
    post:
      operationId: create
      summary: 'Creates a new metastore based on a provided name and optional storage
        root path. By default (if the

        __owner__ field is not set), the owner of the new metastore is the user calling
        the

        __createMetastore__ API. If the __owner__ field is set to the empty string
        (**""**), the ownership is

        assigned to the System User instead.'
      description: "Creates a new metastore based on a provided name and optional\
        \ storage root path. By default (if the\n__owner__ field is not set), the\
        \ owner of the new metastore is the user calling the\n__createMetastore__\
        \ API. If the __owner__ field is set to the empty string (**\"\"**), the ownership\
        \ is\nassigned to the System User instead.\n\n:param name: str\n  The user-specified\
        \ name of the metastore.\n:param region: str (optional)\n  Cloud region which\
        \ the metastore serves (e.g., `us-west-2`, `westus`).\n:param storage_root:\
        \ str (optional)\n  The storage root URL for metastore\n\n:returns: :class:`MetastoreInfo`"
      tags:
      - catalog
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: str The user-specified name of the metastore.
                region:
                  type: string
                  description: str (optional) Cloud region which the metastore serves
                    (e.g., `us-west-2`, `westus`).
                storage_root:
                  type: string
                  description: str (optional) The storage root URL for metastore
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetastoreInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
    get:
      operationId: list
      summary: 'Gets an array of the available metastores (as __MetastoreInfo__ objects).
        The caller must be an admin

        to retrieve this info. There is no guarantee of a specific ordering of the
        elements in the array.'
      description: "Gets an array of the available metastores (as __MetastoreInfo__\
        \ objects). The caller must be an admin\nto retrieve this info. There is no\
        \ guarantee of a specific ordering of the elements in the array.\n\nNOTE:\
        \ we recommend using max_results=0 to use the paginated version of this API.\
        \ Unpaginated calls\nwill be deprecated soon.\n\nPAGINATION BEHAVIOR: When\
        \ using pagination (max_results >= 0), a page may contain zero results while\n\
        still providing a next_page_token. Clients must continue reading pages until\
        \ next_page_token is\nabsent, which is the only indication that the end of\
        \ results has been reached. This behavior follows\nGoogle AIP-158 guidelines.\n\
        \n:param max_results: int (optional)\n  Maximum number of metastores to return.\
        \ - when set to a value greater than 0, the page length is the\n  minimum\
        \ of this value and a server configured value; - when set to 0, the page length\
        \ is set to a\n  server configured value (recommended); - when set to a value\
        \ less than 0, an invalid parameter error\n  is returned; - If not set, all\
        \ the metastores are returned (not recommended). - Note: The number of\n \
        \ returned metastores might be less than the specified max_results size, even\
        \ zero. The only\n  definitive indication that no further metastores can be\
        \ fetched is when the next_page_token is unset\n  from the response.\n:param\
        \ page_token: str (optional)\n  Opaque pagination token to go to next page\
        \ based on previous query.\n\n:returns: Iterator over :class:`MetastoreInfo`"
      tags:
      - catalog
      parameters:
      - name: max_results
        description: 'int (optional) Maximum number of metastores to return. - when
          set to a value greater than 0, the page length is the minimum of this value
          and a server configured value; - when set to 0, the page length is set to
          a server configured value (recommended); - when set to a value less than
          0, an invalid parameter error is returned; - If not set, all the metastores
          are returned (not recommended). - Note: The number of returned metastores
          might be less than the specified max_results size, even zero. The only definitive
          indication that no further metastores can be fetched is when the next_page_token
          is unset from the response.'
        required: false
        schema:
          type: integer
        in: query
      - name: page_token
        description: str (optional) Opaque pagination token to go to next page based
          on previous query.
        required: false
        schema:
          type: string
        in: query
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetastoreInfo'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/current-metastore-assignment:
    get:
      operationId: current
      summary: Gets the metastore assignment for the workspace being accessed.
      description: 'Gets the metastore assignment for the workspace being accessed.



        :returns: :class:`MetastoreAssignment`'
      tags:
      - catalog
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetastoreAssignment'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '500':
          description: Internal server error
  /api/2.1/unity-catalog/metastores/{id}:
    delete:
      operationId: delete
      summary: Deletes a metastore. The caller must be a metastore admin.
[...]
