.venv
*.
build
dist
*.egg-info
.eggs
__pycache__
.pytest_cache
.idea
databricks-sdk-py.iml
.databricks
.coverage
htmlcov
node_modules
.env
.stackql/
stackql
stackql-*.sh
stackql-server.log
stackql-zip
billable_usage.csv