databricks/sdk/__init__.py linguist-generated=true
databricks/sdk/errors/overrides.py linguist-generated=true
databricks/sdk/errors/platform.py linguist-generated=true
databricks/sdk/service/billing.py linguist-generated=true
databricks/sdk/service/catalog.py linguist-generated=true
databricks/sdk/service/compute.py linguist-generated=true
databricks/sdk/service/dashboards.py linguist-generated=true
databricks/sdk/service/files.py linguist-generated=true
databricks/sdk/service/iam.py linguist-generated=true
databricks/sdk/service/jobs.py linguist-generated=true
databricks/sdk/service/marketplace.py linguist-generated=true
databricks/sdk/service/ml.py linguist-generated=true
databricks/sdk/service/oauth2.py linguist-generated=true
databricks/sdk/service/pipelines.py linguist-generated=true
databricks/sdk/service/provisioning.py linguist-generated=true
databricks/sdk/service/serving.py linguist-generated=true
databricks/sdk/service/settings.py linguist-generated=true
databricks/sdk/service/sharing.py linguist-generated=true
databricks/sdk/service/sql.py linguist-generated=true
databricks/sdk/service/vectorsearch.py linguist-generated=true
databricks/sdk/service/workspace.py linguist-generated=true
examples/account/billable_usage/download_usage_download.py linguist-generated=true
examples/account/budgets/create_budgets.py linguist-generated=true
examples/account/budgets/get_budgets.py linguist-generated=true
examples/account/budgets/list_budgets.py linguist-generated=true
examples/account/budgets/update_budgets.py linguist-generated=true
examples/account/credentials/create_credentials.py linguist-generated=true
examples/account/credentials/create_log_delivery.py linguist-generated=true
examples/account/credentials/create_workspaces.py linguist-generated=true
examples/account/credentials/get_credentials.py linguist-generated=true
examples/account/credentials/list_credentials.py linguist-generated=true
examples/account/encryption_keys/create_encryption_keys.py linguist-generated=true
examples/account/encryption_keys/get_encryption_keys.py linguist-generated=true
examples/account/encryption_keys/list_encryption_keys.py linguist-generated=true
examples/account/io/read_usage_download.py linguist-generated=true
examples/account/log_delivery/create_log_delivery.py linguist-generated=true
examples/account/log_delivery/get_log_delivery.py linguist-generated=true
examples/account/log_delivery/list_log_delivery.py linguist-generated=true
examples/account/metastore_assignments/list_metastore_assignments.py linguist-generated=true
examples/account/networks/create_networks.py linguist-generated=true
examples/account/networks/get_networks.py linguist-generated=true
examples/account/networks/list_networks.py linguist-generated=true
examples/account/private_access/create_private_access.py linguist-generated=true
examples/account/private_access/get_private_access.py linguist-generated=true
examples/account/private_access/list_private_access.py linguist-generated=true
examples/account/private_access/replace_private_access.py linguist-generated=true
examples/account/service_principals/create_account_service_principal.py linguist-generated=true
examples/account/service_principals/create_workspace_assignment_on_aws.py linguist-generated=true
examples/account/service_principals/get_account_service_principal.py linguist-generated=true
examples/account/service_principals/list_account_service_principal.py linguist-generated=true
examples/account/service_principals/patch_account_service_principal.py linguist-generated=true
examples/account/service_principals/update_account_service_principal.py linguist-generated=true
examples/account/storage/create_log_delivery.py linguist-generated=true
examples/account/storage/create_storage.py linguist-generated=true
examples/account/storage/create_workspaces.py linguist-generated=true
examples/account/storage/get_storage.py linguist-generated=true
examples/account/storage/list_storage.py linguist-generated=true
examples/account/users/create_account_users.py linguist-generated=true
examples/account/users/delete_account_users.py linguist-generated=true
examples/account/users/get_account_users.py linguist-generated=true
examples/account/users/patch_account_users.py linguist-generated=true
examples/account/vpc_endpoints/create_vpc_endpoints.py linguist-generated=true
examples/account/vpc_endpoints/get_vpc_endpoints.py linguist-generated=true
examples/account/vpc_endpoints/list_vpc_endpoints.py linguist-generated=true
examples/account/workspace_assignment/list_workspace_assignment_on_aws.py linguist-generated=true
examples/account/workspace_assignment/update_workspace_assignment_on_aws.py linguist-generated=true
examples/account/workspaces/create_workspaces.py linguist-generated=true
examples/account/workspaces/get_workspaces.py linguist-generated=true
examples/account/workspaces/list_workspaces.py linguist-generated=true
examples/account/workspaces/update_workspaces.py linguist-generated=true
examples/workspace/alerts/create_alerts.py linguist-generated=true
examples/workspace/alerts/get_alerts.py linguist-generated=true
examples/workspace/alerts/list_alerts.py linguist-generated=true
examples/workspace/alerts/update_alerts.py linguist-generated=true
examples/workspace/catalogs/create_catalog_workspace_bindings.py linguist-generated=true
examples/workspace/catalogs/create_catalogs.py linguist-generated=true
examples/workspace/catalogs/create_schemas.py linguist-generated=true
examples/workspace/catalogs/create_shares.py linguist-generated=true
examples/workspace/catalogs/create_tables.py linguist-generated=true
examples/workspace/catalogs/create_volumes.py linguist-generated=true
examples/workspace/catalogs/get_catalogs.py linguist-generated=true
examples/workspace/catalogs/list_catalogs.py linguist-generated=true
examples/workspace/catalogs/update_catalog_workspace_bindings.py linguist-generated=true
examples/workspace/catalogs/update_catalogs.py linguist-generated=true
examples/workspace/cluster_policies/create_cluster_policies.py linguist-generated=true
examples/workspace/cluster_policies/edit_cluster_policies.py linguist-generated=true
examples/workspace/cluster_policies/get_cluster_policies.py linguist-generated=true
examples/workspace/cluster_policies/list_cluster_policies.py linguist-generated=true
examples/workspace/clusters/change_owner_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/create_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/delete_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/edit_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/ensure_cluster_is_running_commands_direct_usage.py linguist-generated=true
examples/workspace/clusters/events_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/get_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/list_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/list_node_types_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/pin_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/resize_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/restart_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/select_node_type_instance_pools.py linguist-generated=true
examples/workspace/clusters/select_spark_version_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/start_clusters_api_integration.py linguist-generated=true
examples/workspace/clusters/unpin_clusters_api_integration.py linguist-generated=true
examples/workspace/command_context/execute_commands.py linguist-generated=true
examples/workspace/command_execution/create_commands_direct_usage.py linguist-generated=true
examples/workspace/command_execution/execute_commands_direct_usage.py linguist-generated=true
examples/workspace/command_execution/start_commands.py linguist-generated=true
examples/workspace/connections/create_connections.py linguist-generated=true
examples/workspace/connections/get_connections.py linguist-generated=true
examples/workspace/connections/list_connections.py linguist-generated=true
examples/workspace/connections/update_connections.py linguist-generated=true
examples/workspace/current_user/me_current_user.py linguist-generated=true
examples/workspace/current_user/me_tokens.py linguist-generated=true
examples/workspace/dashboards/create_dashboards.py linguist-generated=true
examples/workspace/dashboards/delete_dashboards.py linguist-generated=true
examples/workspace/dashboards/get_dashboards.py linguist-generated=true
examples/workspace/dashboards/list_dashboards.py linguist-generated=true
examples/workspace/dashboards/restore_dashboards.py linguist-generated=true
examples/workspace/data_sources/list_alerts.py linguist-generated=true
examples/workspace/data_sources/list_queries.py linguist-generated=true
examples/workspace/databricks/must_tokens.py linguist-generated=true
examples/workspace/experiments/create_experiment_experiments.py linguist-generated=true
examples/workspace/experiments/create_experiment_m_lflow_runs.py linguist-generated=true
examples/workspace/experiments/create_run_m_lflow_runs.py linguist-generated=true
examples/workspace/experiments/get_experiment_experiments.py linguist-generated=true
examples/workspace/experiments/list_experiments_experiments.py linguist-generated=true
examples/workspace/experiments/update_experiment_experiments.py linguist-generated=true
examples/workspace/experiments/update_run_m_lflow_runs.py linguist-generated=true
examples/workspace/external_locations/create_external_locations_on_aws.py linguist-generated=true
examples/workspace/external_locations/create_volumes.py linguist-generated=true
examples/workspace/external_locations/get_external_locations_on_aws.py linguist-generated=true
examples/workspace/external_locations/list_external_locations_on_aws.py linguist-generated=true
examples/workspace/external_locations/update_external_locations_on_aws.py linguist-generated=true
examples/workspace/git_credentials/create_git_credentials.py linguist-generated=true
examples/workspace/git_credentials/get_git_credentials.py linguist-generated=true
examples/workspace/git_credentials/list_git_credentials.py linguist-generated=true
examples/workspace/git_credentials/update_git_credentials.py linguist-generated=true
examples/workspace/global_init_scripts/create_global_init_scripts.py linguist-generated=true
examples/workspace/global_init_scripts/get_global_init_scripts.py linguist-generated=true
examples/workspace/global_init_scripts/list_global_init_scripts.py linguist-generated=true
examples/workspace/global_init_scripts/update_global_init_scripts.py linguist-generated=true
examples/workspace/grants/get_effective_tables.py linguist-generated=true
examples/workspace/grants/update_tables.py linguist-generated=true
examples/workspace/groups/create_generic_permissions.py linguist-generated=true
examples/workspace/groups/create_groups.py linguist-generated=true
examples/workspace/groups/create_secrets.py linguist-generated=true
examples/workspace/groups/delete_generic_permissions.py linguist-generated=true
examples/workspace/groups/delete_groups.py linguist-generated=true
examples/workspace/groups/delete_secrets.py linguist-generated=true
examples/workspace/groups/get_groups.py linguist-generated=true
examples/workspace/instance_pools/create_instance_pools.py linguist-generated=true
examples/workspace/instance_pools/edit_instance_pools.py linguist-generated=true
examples/workspace/instance_pools/get_instance_pools.py linguist-generated=true
examples/workspace/instance_pools/list_instance_pools.py linguist-generated=true
examples/workspace/instance_profiles/add_aws_instance_profiles.py linguist-generated=true
examples/workspace/instance_profiles/edit_aws_instance_profiles.py linguist-generated=true
examples/workspace/instance_profiles/list_aws_instance_profiles.py linguist-generated=true
examples/workspace/ip_access_lists/create_ip_access_lists.py linguist-generated=true
examples/workspace/ip_access_lists/get_ip_access_lists.py linguist-generated=true
examples/workspace/ip_access_lists/list_ip_access_lists.py linguist-generated=true
examples/workspace/ip_access_lists/replace_ip_access_lists.py linguist-generated=true
examples/workspace/jobs/cancel_all_runs_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/cancel_run_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/create_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/export_run_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/get_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/get_run_output_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/list_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/list_runs_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/repair_run_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/reset_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/run_now_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/submit_jobs_api_full_integration.py linguist-generated=true
examples/workspace/jobs/update_jobs_api_full_integration.py linguist-generated=true
examples/workspace/libraries/update_libraries.py linguist-generated=true
examples/workspace/metastores/assign_metastores.py linguist-generated=true
examples/workspace/metastores/create_metastores.py linguist-generated=true
examples/workspace/metastores/current_metastores.py linguist-generated=true
examples/workspace/metastores/get_metastores.py linguist-generated=true
examples/workspace/metastores/list_metastores.py linguist-generated=true
examples/workspace/metastores/summary_metastores.py linguist-generated=true
examples/workspace/metastores/unassign_metastores.py linguist-generated=true
examples/workspace/metastores/update_metastores.py linguist-generated=true
examples/workspace/model_registry/create_comment_model_version_comments.py linguist-generated=true
examples/workspace/model_registry/create_model_model_version_comments.py linguist-generated=true
examples/workspace/model_registry/create_model_model_versions.py linguist-generated=true
examples/workspace/model_registry/create_model_models.py linguist-generated=true
examples/workspace/model_registry/create_model_version_model_version_comments.py linguist-generated=true
examples/workspace/model_registry/create_model_version_model_versions.py linguist-generated=true
examples/workspace/model_registry/create_webhook_registry_webhooks.py linguist-generated=true
examples/workspace/model_registry/get_model_models.py linguist-generated=true
examples/workspace/model_registry/list_models_models.py linguist-generated=true
examples/workspace/model_registry/list_webhooks_registry_webhooks.py linguist-generated=true
examples/workspace/model_registry/update_comment_model_version_comments.py linguist-generated=true
examples/workspace/model_registry/update_model_models.py linguist-generated=true
examples/workspace/model_registry/update_model_version_model_versions.py linguist-generated=true
examples/workspace/model_registry/update_webhook_registry_webhooks.py linguist-generated=true
examples/workspace/permissions/get_generic_permissions.py linguist-generated=true
examples/workspace/permissions/get_permission_levels_generic_permissions.py linguist-generated=true
examples/workspace/permissions/set_generic_permissions.py linguist-generated=true
examples/workspace/pipelines/create_pipelines.py linguist-generated=true
examples/workspace/pipelines/get_pipelines.py linguist-generated=true
examples/workspace/pipelines/list_pipeline_events_pipelines.py linguist-generated=true
examples/workspace/pipelines/list_pipelines_pipelines.py linguist-generated=true
examples/workspace/pipelines/update_pipelines.py linguist-generated=true
examples/workspace/policy_families/get_cluster_policy_families.py linguist-generated=true
examples/workspace/policy_families/list_cluster_policy_families.py linguist-generated=true
examples/workspace/providers/create_providers.py linguist-generated=true
examples/workspace/providers/get_providers.py linguist-generated=true
examples/workspace/providers/list_providers.py linguist-generated=true
examples/workspace/providers/list_shares_providers.py linguist-generated=true
examples/workspace/providers/update_providers.py linguist-generated=true
examples/workspace/queries/create_alerts.py linguist-generated=true
examples/workspace/queries/create_queries.py linguist-generated=true
examples/workspace/queries/get_queries.py linguist-generated=true
examples/workspace/queries/update_queries.py linguist-generated=true
examples/workspace/query_history/list_sql_query_history.py linguist-generated=true
examples/workspace/recipients/create_recipients.py linguist-generated=true
examples/workspace/recipients/get_recipients.py linguist-generated=true
examples/workspace/recipients/list_recipients.py linguist-generated=true
examples/workspace/recipients/rotate_token_recipients.py linguist-generated=true
examples/workspace/recipients/share_permissions_recipients.py linguist-generated=true
examples/workspace/recipients/update_recipients.py linguist-generated=true
examples/workspace/repos/create_repos.py linguist-generated=true
examples/workspace/repos/get_repos.py linguist-generated=true
examples/workspace/repos/list_repos.py linguist-generated=true
examples/workspace/repos/update_repos.py linguist-generated=true
examples/workspace/schemas/create_schemas.py linguist-generated=true
examples/workspace/schemas/create_shares.py linguist-generated=true
examples/workspace/schemas/create_tables.py linguist-generated=true
examples/workspace/schemas/create_volumes.py linguist-generated=true
examples/workspace/schemas/get_schemas.py linguist-generated=true
examples/workspace/schemas/list_schemas.py linguist-generated=true
examples/workspace/schemas/update_schemas.py linguist-generated=true
examples/workspace/secrets/create_scope_secrets.py linguist-generated=true
examples/workspace/secrets/list_acls_secrets.py linguist-generated=true
examples/workspace/secrets/list_scopes_secrets.py linguist-generated=true
examples/workspace/secrets/list_secrets_secrets.py linguist-generated=true
examples/workspace/secrets/put_acl_secrets.py linguist-generated=true
examples/workspace/secrets/put_secret_secrets.py linguist-generated=true
examples/workspace/service_principals/create_create_obo_token_on_aws.py linguist-generated=true
examples/workspace/service_principals/create_service_principals_on_aws.py linguist-generated=true
examples/workspace/service_principals/get_service_principals_on_aws.py linguist-generated=true
examples/workspace/service_principals/list_service_principals_on_aws.py linguist-generated=true
examples/workspace/service_principals/patch_service_principals_on_aws.py linguist-generated=true
examples/workspace/service_principals/update_service_principals_on_aws.py linguist-generated=true
examples/workspace/shares/create_shares.py linguist-generated=true
examples/workspace/shares/get_shares.py linguist-generated=true
examples/workspace/shares/list_shares.py linguist-generated=true
examples/workspace/shares/update_shares.py linguist-generated=true
examples/workspace/statement_execution/execute_shares.py linguist-generated=true
examples/workspace/statement_execution/execute_tables.py linguist-generated=true
examples/workspace/storage_credentials/create_external_locations_on_aws.py linguist-generated=true
examples/workspace/storage_credentials/create_storage_credentials_on_aws.py linguist-generated=true
examples/workspace/storage_credentials/create_volumes.py linguist-generated=true
examples/workspace/storage_credentials/get_storage_credentials_on_aws.py linguist-generated=true
examples/workspace/storage_credentials/list_storage_credentials_on_aws.py linguist-generated=true
examples/workspace/storage_credentials/update_storage_credentials_on_aws.py linguist-generated=true
examples/workspace/tables/get_tables.py linguist-generated=true
examples/workspace/tables/list_summaries_tables.py linguist-generated=true
examples/workspace/tables/list_tables.py linguist-generated=true
examples/workspace/token_management/create_obo_token_create_obo_token_on_aws.py linguist-generated=true
examples/workspace/token_management/get_create_obo_token_on_aws.py linguist-generated=true
examples/workspace/token_management/list_create_obo_token_on_aws.py linguist-generated=true
examples/workspace/tokens/create_tokens.py linguist-generated=true
examples/workspace/tokens/get_tokens.py linguist-generated=true
examples/workspace/tokens/list_tokens.py linguist-generated=true
examples/workspace/users/create_clusters_api_integration.py linguist-generated=true
examples/workspace/users/create_workspace_users.py linguist-generated=true
examples/workspace/users/delete_clusters_api_integration.py linguist-generated=true
examples/workspace/users/delete_workspace_users.py linguist-generated=true
examples/workspace/users/get_workspace_users.py linguist-generated=true
examples/workspace/users/list_workspace_users.py linguist-generated=true
examples/workspace/users/patch_workspace_users.py linguist-generated=true
examples/workspace/users/update_workspace_users.py linguist-generated=true
examples/workspace/volumes/create_volumes.py linguist-generated=true
examples/workspace/volumes/list_volumes.py linguist-generated=true
examples/workspace/volumes/read_volumes.py linguist-generated=true
examples/workspace/volumes/update_volumes.py linguist-generated=true
examples/workspace/warehouses/create_sql_warehouses.py linguist-generated=true
examples/workspace/warehouses/edit_sql_warehouses.py linguist-generated=true
examples/workspace/warehouses/get_sql_warehouses.py linguist-generated=true
examples/workspace/warehouses/list_sql_warehouses.py linguist-generated=true
examples/workspace/workspace/export_workspace_integration.py linguist-generated=true
examples/workspace/workspace/get_status_generic_permissions.py linguist-generated=true
examples/workspace/workspace/get_status_workspace_integration.py linguist-generated=true
examples/workspace/workspace/import_generic_permissions.py linguist-generated=true
examples/workspace/workspace/import_jobs_api_full_integration.py linguist-generated=true
examples/workspace/workspace/import_pipelines.py linguist-generated=true
examples/workspace/workspace/import_workspace_integration.py linguist-generated=true
examples/workspace/workspace/list_workspace_integration.py linguist-generated=true
examples/workspace/workspace_bindings/get_catalog_workspace_bindings.py linguist-generated=true
examples/workspace/workspace_bindings/update_catalog_workspace_bindings.py linguist-generated=true
examples/workspace/workspace_conf/get_status_repos.py linguist-generated=true
