databricks/sdk/__init__.py linguist-generated=true
databricks/sdk/service/billing.py linguist-generated=true
databricks/sdk/service/clusterpolicies.py linguist-generated=true
databricks/sdk/service/clusters.py linguist-generated=true
databricks/sdk/service/commands.py linguist-generated=true
databricks/sdk/service/dbfs.py linguist-generated=true
databricks/sdk/service/deployment.py linguist-generated=true
databricks/sdk/service/gitcredentials.py linguist-generated=true
databricks/sdk/service/globalinitscripts.py linguist-generated=true
databricks/sdk/service/instancepools.py linguist-generated=true
databricks/sdk/service/ipaccesslists.py linguist-generated=true
databricks/sdk/service/jobs.py linguist-generated=true
databricks/sdk/service/libraries.py linguist-generated=true
databricks/sdk/service/mlflow.py linguist-generated=true
databricks/sdk/service/permissions.py linguist-generated=true
databricks/sdk/service/pipelines.py linguist-generated=true
databricks/sdk/service/repos.py linguist-generated=true
databricks/sdk/service/scim.py linguist-generated=true
databricks/sdk/service/secrets.py linguist-generated=true
databricks/sdk/service/sql.py linguist-generated=true
databricks/sdk/service/tokenmanagement.py linguist-generated=true
databricks/sdk/service/tokens.py linguist-generated=true
databricks/sdk/service/unitycatalog.py linguist-generated=true
databricks/sdk/service/workspace.py linguist-generated=true
databricks/sdk/service/workspaceconf.py linguist-generated=true
