include README.md
include LICENSE
include NOTICE
include DCO
include Makefile
include SECURITY.md
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml
include databricks/sdk/py.typed

exclude .codegen.json
exclude .readthedocs.yaml
exclude docs-requirements.txt
exclude NEXT_CHANGELOG.md
exclude tagging.py
exclude .package.json
exclude .release_metadata.json

recursive-exclude docs *
recursive-exclude examples *
recursive-exclude tests *
recursive-exclude .codegen *
recursive-exclude .vscode *
