{{range .Packages}}
import databricks.sdk.service.{{.Name}} as {{.Name}}{{end}}
import databricks.sdk.client as client

class WorkspaceClient:
    def __init__(self, **kwargs):
        self.api_client = client.ApiClient(client.Config(**kwargs))
        {{range .Services}}{{if not .IsAccounts}}
        self.{{.SnakeName}} = {{.Package.Name}}.{{.Name}}API(self.api_client){{end -}}{{end}}

class AccountClient:
    def __init__(self, **kwargs):
        self.api_client = client.ApiClient(client.Config(**kwargs))
        {{range .Services}}{{if .IsAccounts}}
        self.{{.SnakeName}} = {{.Package.Name}}.{{.Name}}API(self.api_client){{end -}}{{end}}
