import databricks.sdk.core as client
import databricks.sdk.dbutils as dbutils

from databricks.sdk.mixins.files import DbfsExt, FilesMixin
from databricks.sdk.mixins.compute import ClustersExt
from databricks.sdk.mixins.workspace import WorkspaceExt
{{- range .Services}}
from databricks.sdk.service.{{.Package.Name}} import {{.PascalName}}API{{end}}

{{$args := list "host" "account_id" "username" "password" "client_id" "client_secret"
  "token" "profile" "config_file" "azure_workspace_resource_id" "azure_client_secret"
  "azure_client_id" "azure_tenant_id" "azure_environment" "auth_type" "cluster_id"}}

{{- define "api" -}}
  {{- $mixins := dict "ClustersAPI" "ClustersExt" "DbfsAPI" "DbfsExt" "WorkspaceAPI" "WorkspaceExt" -}}
  {{- $genApi := concat .PascalName "API" -}}
  {{- getOrDefault $mixins $genApi $genApi -}}
{{- end -}}

class WorkspaceClient:
    def __init__(self, *{{range $args}}, {{.}}: str = None{{end}},
                 debug_truncate_bytes: int = None,
                 debug_headers: int = None,
                 product="unknown",
                 product_version="0.0.0",
                 credentials_provider: client.CredentialsProvider = None,
                 config: client.Config = None):
        if not config:
          config = client.Config({{range $args}}{{.}}={{.}}, {{end}}
            credentials_provider=credentials_provider,
            debug_truncate_bytes=debug_truncate_bytes,
            debug_headers=debug_headers,
            product=product,
            product_version=product_version)
        self.config = config.copy()
        self.dbutils = dbutils.RemoteDbUtils(self.config)
        self.api_client = client.ApiClient(self.config)
        self.files = FilesMixin(self.api_client)
        {{- range .Services}}{{if not .IsAccounts}}
        self.{{.SnakeName}} = {{template "api" .}}(self.api_client){{end -}}{{end}}

class AccountClient:
    def __init__(self, *{{range $args}}, {{.}}: str = None{{end}},
                 debug_truncate_bytes: int = None,
                 debug_headers: int = None,
                 product="unknown",
                 product_version="0.0.0",
                 credentials_provider: client.CredentialsProvider = None,
                 config: client.Config = None):
        if not config:
          config = client.Config({{range $args}}{{.}}={{.}}, {{end}}
            credentials_provider=credentials_provider,
            debug_truncate_bytes=debug_truncate_bytes,
            debug_headers=debug_headers,
            product=product,
            product_version=product_version)
        self.config = config.copy()
        self.api_client = client.ApiClient(self.config)
        {{- range .Services}}{{if .IsAccounts}}
        self.{{(.TrimPrefix "account").SnakeName}} = {{template "api" .}}(self.api_client){{end -}}{{end}}
