# Version changelog

## {{.Version}}
{{- range .GroupChanges}}

### {{.Type.Message}}
{{range .Changes}}
 * {{.}}.
{{- end}}
{{end}}
{{if .ApiChanges}}
### API Changes:
{{range .ApiChanges.GroupDiff}}
 * {{.Action}} {{template "group-what" .}}{{if .Extra}} {{.Extra}}{{with .Other}} {{template "other-what" .}}{{end}}{{end}}.
{{- end}}

OpenAPI SHA: {{.Sha}}, Date: {{.Changed}}
{{- end}}{{if .DependencyUpdates}}
Dependency updates:
{{range .DependencyUpdates}}
 * {{.}}.
{{- end -}}
{{end}}

## {{.PrevVersion}}

{{- define "group-what" -}}
{{if gt (len .Changes) 1 -}} {{template "single-what" .Changes.First}}{{end -}}
{{range .Changes.Middle -}}, {{template "single-what" .}}{{end -}}
{{if gt (len .Changes) 1}} and {{end}}{{template "single-what" .Changes.Last}}{{template "suffix-what" .}}
{{- end -}}

{{- define "single-what" -}}
    {{if eq .X "package" -}}
        `databricks.sdk.service.{{.Package.Name}}`
    {{- else if eq .X "service" -}}
        {{template "service" .Service}}
    {{- else if eq .X "method" -}}
        `{{.Method.SnakeName}}()`
    {{- else if eq .X "entity" -}}
        {{template "entity" .Entity}}
    {{- else if eq .X "field" -}}
        `{{.Field.SnakeName}}`
    {{- end}}
{{- end -}}

{{- define "suffix-what" -}}
    {{if eq .Type "package" }} package{{if gt (len .Changes) 1}}s{{end}}
    {{- else if eq .Type "method" }} method{{if gt (len .Changes) 1}}s{{end}} for {{template "service" .Parent.Service}}
    {{- else if eq .Type "entity" }} dataclass{{if gt (len .Changes) 1}}es{{end}}
    {{- else if eq .Type "field" }} field{{if gt (len .Changes) 1}}s{{end}} for {{template "entity" .Parent.Entity}}
    {{- end}}
{{- end -}}

{{- define "other-what" -}}
    {{if eq .X "package" -}}
        `databricks.sdk.service.{{.Package.Name}}` package
    {{- else if eq .X "service" -}}
        {{template "service" .Service}}
    {{- else if eq .X "method" -}}
        `{{.Method.SnakeName}}()` method for {{template "service" .Method.Service}}
    {{- else if eq .X "entity" -}}
        {{template "entity" .Entity}} dataclass
    {{- else if eq .X "field" -}}
        `{{.Field.SnakeName}}` field for {{template "entity" .Field.Of}}
    {{- end}}
{{- end -}}

{{- define "service" -}}
    [{{if .IsAccounts}}a{{else}}w{{end}}.{{.SnakeName}}](https://databricks-sdk-py.readthedocs.io/en/latest/{{if .IsAccounts}}account{{else}}workspace{{end}}{{with .ParentService}}/{{.SnakeName}}{{end}}/{{.SnakeName}}.html) {{if .IsAccounts}}account{{else}}workspace{{end}}-level service
{{- end -}}

{{- define "entity" -}}
    {{- if not . }}any /* ERROR */
	{{- else if .IsEmpty}}`any`
	{{- else if .PascalName}}`databricks.sdk.service.{{.Package.Name}}.{{.PascalName}}`
	{{- else if .IsAny}}`any`
	{{- else if .IsString}}`str`
	{{- else if .IsBool}}`bool`
	{{- else if .IsInt64}}`int`
	{{- else if .IsFloat64}}`float`
	{{- else if .IsInt}}`int`
	{{- else if .ArrayValue }}list[{{template "entity" .ArrayValue}}]
	{{- else if .MapValue }}dict[str,{{template "entity" .MapValue}}]
	{{- else}}`databricks.sdk.service.{{.Package.Name}}.{{.PascalName}}`
	{{- end -}}
{{- end -}}
