{
  "openapi": "3.0.0",
  "info": {
    "title": "Databricks Catalog API (account)",
    "description": "OpenAPI specification for the Databricks catalog service (account-level APIs), generated from the Databricks Python SDK.",
    "version": "0.1.0",
    "x-stackql-sdk-version": "0.86.0",
    "x-stackql-date-generated": "2026-02-24",
    "x-stackql-sdk-namespace": "databricks.sdk.service.catalog"
  },
  "servers": [
    {
      "url": "https://accounts.cloud.databricks.com",
      "description": "Databricks account"
    }
  ],
  "paths": {
    "/api/2.0/accounts/{account_id}/workspaces/{workspace_id}/metastores/{metastore_id}": {
      "post": {
        "operationId": "account_metastore_assignments_create",
        "summary": "Creates an assignment to a metastore for a workspace",
        "tags": [
          "catalog",
          "account_metastore_assignments"
        ],
        "description": "Creates an assignment to a metastore for a workspace\n\n:param workspace_id: int\n  Workspace ID.\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param metastore_assignment: :class:`CreateMetastoreAssignment` (optional)\n\n:returns: :class:`AccountsCreateMetastoreAssignmentResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace ID."
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metastore_assignment": {
                    "type": "object",
                    "properties": {
                      "workspace_id": {
                        "type": "integer"
                      },
                      "metastore_id": {
                        "type": "string",
                        "description": "The unique ID of the metastore."
                      },
                      "default_catalog_name": {
                        "type": "string",
                        "description": "The name of the default catalog in the metastore. This field is deprecated. Please use \"Default Namespace API\" to configure the default catalog for a Databricks workspace."
                      }
                    },
                    "required": [
                      "workspace_id",
                      "metastore_id",
                      "default_catalog_name"
                    ],
                    "description": ":returns: :class:`AccountsCreateMetastoreAssignmentResponse`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsCreateMetastoreAssignmentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoreAssignmentsAPI"
      },
      "delete": {
        "operationId": "account_metastore_assignments_delete",
        "summary": "Deletes a metastore assignment to a workspace, leaving the workspace with no metastore.",
        "tags": [
          "catalog",
          "account_metastore_assignments"
        ],
        "description": "Deletes a metastore assignment to a workspace, leaving the workspace with no metastore.\n\n:param workspace_id: int\n  Workspace ID.\n:param metastore_id: str\n  Unity Catalog metastore ID\n\n:returns: :class:`AccountsDeleteMetastoreAssignmentResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace ID."
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsDeleteMetastoreAssignmentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoreAssignmentsAPI"
      },
      "put": {
        "operationId": "account_metastore_assignments_update",
        "summary": "Updates an assignment to a metastore for a workspace. Currently, only the default catalog may be",
        "tags": [
          "catalog",
          "account_metastore_assignments"
        ],
        "description": "Updates an assignment to a metastore for a workspace. Currently, only the default catalog may be\nupdated.\n\n:param workspace_id: int\n  Workspace ID.\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param metastore_assignment: :class:`UpdateMetastoreAssignment` (optional)\n\n:returns: :class:`AccountsUpdateMetastoreAssignmentResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace ID."
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metastore_assignment": {
                    "type": "object",
                    "properties": {
                      "workspace_id": {
                        "type": "integer"
                      },
                      "default_catalog_name": {
                        "type": "string",
                        "description": "The name of the default catalog in the metastore. This field is deprecated. Please use \"Default Namespace API\" to configure the default catalog for a Databricks workspace."
                      },
                      "metastore_id": {
                        "type": "string",
                        "description": "The unique ID of the metastore."
                      }
                    },
                    "required": [
                      "workspace_id"
                    ],
                    "description": ":returns: :class:`AccountsUpdateMetastoreAssignmentResponse`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsUpdateMetastoreAssignmentResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoreAssignmentsAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/workspaces/{workspace_id}/metastore": {
      "get": {
        "operationId": "account_metastore_assignments_get",
        "summary": "Gets the metastore assignment, if any, for the workspace specified by ID. If the workspace is assigned",
        "tags": [
          "catalog",
          "account_metastore_assignments"
        ],
        "description": "Gets the metastore assignment, if any, for the workspace specified by ID. If the workspace is assigned\na metastore, the mapping will be returned. If no metastore is assigned to the workspace, the\nassignment will not be found and a 404 returned.\n\n:param workspace_id: int\n  Workspace ID.\n\n:returns: :class:`AccountsMetastoreAssignment`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Workspace ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsMetastoreAssignment"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoreAssignmentsAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/metastores/{metastore_id}/workspaces": {
      "get": {
        "operationId": "account_metastore_assignments_list",
        "summary": "Gets a list of all Databricks workspace IDs that have been assigned to given metastore.",
        "tags": [
          "catalog",
          "account_metastore_assignments"
        ],
        "description": "Gets a list of all Databricks workspace IDs that have been assigned to given metastore.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n\n:returns: Iterator over int",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogWorkspaceBindingsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoreAssignmentsAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/metastores": {
      "post": {
        "operationId": "account_metastores_create",
        "summary": "Creates a Unity Catalog metastore.",
        "tags": [
          "catalog",
          "account_metastores"
        ],
        "description": "Creates a Unity Catalog metastore.\n\n:param metastore_info: :class:`CreateAccountsMetastore` (optional)\n\n:returns: :class:`AccountsCreateMetastoreResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metastore_info": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "external_access_enabled": {
                        "type": "boolean",
                        "description": "Whether to allow non-DBR clients to directly access entities under the metastore."
                      },
                      "region": {
                        "type": "string",
                        "description": "Cloud region which the metastore serves (e.g., `us-west-2`, `westus`)."
                      },
                      "storage_root": {
                        "type": "string",
                        "description": "The storage root URL for metastore"
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "description": ":returns: :class:`AccountsCreateMetastoreResponse`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsCreateMetastoreResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoresAPI"
      },
      "get": {
        "operationId": "account_metastores_list",
        "summary": "Gets all Unity Catalog metastores associated with an account specified by ID.",
        "tags": [
          "catalog",
          "account_metastores"
        ],
        "description": "Gets all Unity Catalog metastores associated with an account specified by ID.\n\n\n:returns: Iterator over :class:`MetastoreInfo`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsListMetastoresResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoresAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/metastores/{metastore_id}": {
      "delete": {
        "operationId": "account_metastores_delete",
        "summary": "Deletes a Unity Catalog metastore for an account, both specified by ID.",
        "tags": [
          "catalog",
          "account_metastores"
        ],
        "description": "Deletes a Unity Catalog metastore for an account, both specified by ID.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param force: bool (optional)\n  Force deletion even if the metastore is not empty. Default is false.\n\n:returns: :class:`AccountsDeleteMetastoreResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Force deletion even if the metastore is not empty. Default is false."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsDeleteMetastoreResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoresAPI"
      },
      "get": {
        "operationId": "account_metastores_get",
        "summary": "Gets a Unity Catalog metastore from an account, both specified by ID.",
        "tags": [
          "catalog",
          "account_metastores"
        ],
        "description": "Gets a Unity Catalog metastore from an account, both specified by ID.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n\n:returns: :class:`AccountsGetMetastoreResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsGetMetastoreResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoresAPI"
      },
      "put": {
        "operationId": "account_metastores_update",
        "summary": "Updates an existing Unity Catalog metastore.",
        "tags": [
          "catalog",
          "account_metastores"
        ],
        "description": "Updates an existing Unity Catalog metastore.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param metastore_info: :class:`UpdateAccountsMetastore` (optional)\n  Properties of the metastore to change.\n\n:returns: :class:`AccountsUpdateMetastoreResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metastore_info": {
                    "type": "object",
                    "properties": {
                      "delta_sharing_organization_name": {
                        "type": "string"
                      },
                      "delta_sharing_recipient_token_lifetime_in_seconds": {
                        "type": "integer",
                        "description": "The lifetime of delta sharing recipient token in seconds."
                      },
                      "delta_sharing_scope": {
                        "type": "string",
                        "x-enum": [
                          "INTERNAL",
                          "INTERNAL_AND_EXTERNAL"
                        ],
                        "description": "The scope of Delta Sharing enabled for the metastore."
                      },
                      "external_access_enabled": {
                        "type": "boolean",
                        "description": "Whether to allow non-DBR clients to directly access entities under the metastore."
                      },
                      "owner": {
                        "type": "string",
                        "description": "The owner of the metastore."
                      },
                      "privilege_model_version": {
                        "type": "string",
                        "description": "Privilege model version of the metastore, of the form `major.minor` (e.g., `1.0`)."
                      },
                      "storage_root_credential_id": {
                        "type": "string",
                        "description": "UUID of storage credential to access the metastore storage_root."
                      }
                    },
                    "description": "Properties of the metastore to change."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsUpdateMetastoreResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountMetastoresAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/metastores/{metastore_id}/storage-credentials": {
      "post": {
        "operationId": "account_storage_credentials_create",
        "summary": "Creates a new storage credential. The request object is specific to the cloud: - **AwsIamRole** for",
        "tags": [
          "catalog",
          "account_storage_credentials"
        ],
        "description": "Creates a new storage credential. The request object is specific to the cloud: - **AwsIamRole** for\nAWS credentials - **AzureServicePrincipal** for Azure credentials - **GcpServiceAccountKey** for GCP\ncredentials\n\nThe caller must be a metastore admin and have the `CREATE_STORAGE_CREDENTIAL` privilege on the\nmetastore.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param credential_info: :class:`CreateAccountsStorageCredential` (optional)\n:param skip_validation: bool (optional)\n  Optional, default false. Supplying true to this argument skips validation of the created set of\n  credentials.\n\n:returns: :class:`AccountsCreateStorageCredentialInfo`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credential_info": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string"
                      },
                      "aws_iam_role": {
                        "type": "object",
                        "properties": {
                          "role_arn": {
                            "type": "string",
                            "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
                          }
                        },
                        "required": [
                          "role_arn"
                        ],
                        "description": "The AWS IAM role configuration."
                      },
                      "azure_managed_identity": {
                        "type": "object",
                        "properties": {
                          "access_connector_id": {
                            "type": "string",
                            "description": "The Azure resource ID of the Azure Databricks Access Connector. Use the format `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.Databricks/accessConnectors/{connector-name}`."
                          },
                          "managed_identity_id": {
                            "type": "string",
                            "description": "The Azure resource ID of the managed identity. Use the format, `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identity-name}` This is only available for user-assgined identities. For system-assigned identities, the access_connector_id is used to identify the identity. If this field is not provided, then we assume the AzureManagedIdentity is using the system-assigned identity."
                          }
                        },
                        "required": [
                          "access_connector_id"
                        ],
                        "description": "The Azure managed identity configuration."
                      },
                      "azure_service_principal": {
                        "type": "object",
                        "properties": {
                          "directory_id": {
                            "type": "string",
                            "description": "The directory ID corresponding to the Azure Active Directory (AAD) tenant of the application."
                          },
                          "application_id": {
                            "type": "string",
                            "description": "The application ID of the application registration within the referenced AAD tenant."
                          },
                          "client_secret": {
                            "type": "string",
                            "description": "The client secret generated for the above app ID in AAD."
                          }
                        },
                        "required": [
                          "directory_id",
                          "application_id",
                          "client_secret"
                        ],
                        "description": "The Azure service principal configuration."
                      },
                      "cloudflare_api_token": {
                        "type": "object",
                        "properties": {
                          "access_key_id": {
                            "type": "string",
                            "description": "The access key ID associated with the API token."
                          },
                          "secret_access_key": {
                            "type": "string",
                            "description": "The secret access token generated for the above access key ID."
                          },
                          "account_id": {
                            "type": "string",
                            "description": "The ID of the account associated with the API token."
                          }
                        },
                        "required": [
                          "access_key_id",
                          "secret_access_key"
                        ],
                        "description": "The Cloudflare API token configuration."
                      },
                      "comment": {
                        "type": "string",
                        "description": "Comment associated with the credential."
                      },
                      "databricks_gcp_service_account": {
                        "type": "object",
                        "properties": {},
                        "description": "The Databricks managed GCP service account configuration."
                      },
                      "read_only": {
                        "type": "boolean",
                        "description": "Whether the credential is usable only for read operations. Only applicable when purpose is **STORAGE**."
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "description": ":param skip_validation: bool (optional) Optional, default false. Supplying true to this argument skips validation of the created set of credentials."
                  },
                  "skip_validation": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsCreateStorageCredentialInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountStorageCredentialsAPI"
      },
      "get": {
        "operationId": "account_storage_credentials_list",
        "summary": "Gets a list of all storage credentials that have been assigned to given metastore.",
        "tags": [
          "catalog",
          "account_storage_credentials"
        ],
        "description": "Gets a list of all storage credentials that have been assigned to given metastore.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n\n:returns: Iterator over :class:`StorageCredentialInfo`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountStorageCredentialsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountStorageCredentialsAPI"
      }
    },
    "/api/2.0/accounts/{account_id}/metastores/{metastore_id}/storage-credentials/{storage_credential_name}": {
      "delete": {
        "operationId": "account_storage_credentials_delete",
        "summary": "Deletes a storage credential from the metastore. The caller must be an owner of the storage",
        "tags": [
          "catalog",
          "account_storage_credentials"
        ],
        "description": "Deletes a storage credential from the metastore. The caller must be an owner of the storage\ncredential.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param storage_credential_name: str\n  Name of the storage credential.\n:param force: bool (optional)\n  Force deletion even if the Storage Credential is not empty. Default is false.\n\n:returns: :class:`AccountsDeleteStorageCredentialResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          },
          {
            "name": "storage_credential_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the storage credential."
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Force deletion even if the Storage Credential is not empty. Default is false."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsDeleteStorageCredentialResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountStorageCredentialsAPI"
      },
      "get": {
        "operationId": "account_storage_credentials_get",
        "summary": "Gets a storage credential from the metastore. The caller must be a metastore admin, the owner of the",
        "tags": [
          "catalog",
          "account_storage_credentials"
        ],
        "description": "Gets a storage credential from the metastore. The caller must be a metastore admin, the owner of the\nstorage credential, or have a level of privilege on the storage credential.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param storage_credential_name: str\n  Required. Name of the storage credential.\n\n:returns: :class:`AccountsStorageCredentialInfo`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          },
          {
            "name": "storage_credential_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Required. Name of the storage credential."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsStorageCredentialInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountStorageCredentialsAPI"
      },
      "put": {
        "operationId": "account_storage_credentials_update",
        "summary": "Updates a storage credential on the metastore. The caller must be the owner of the storage credential.",
        "tags": [
          "catalog",
          "account_storage_credentials"
        ],
        "description": "Updates a storage credential on the metastore. The caller must be the owner of the storage credential.\nIf the caller is a metastore admin, only the **owner** credential can be changed.\n\n:param metastore_id: str\n  Unity Catalog metastore ID\n:param storage_credential_name: str\n  Name of the storage credential.\n:param credential_info: :class:`UpdateAccountsStorageCredential` (optional)\n:param skip_validation: bool (optional)\n  Optional. Supplying true to this argument skips validation of the updated set of credentials.\n\n:returns: :class:`AccountsUpdateStorageCredentialResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "metastore_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unity Catalog metastore ID"
          },
          {
            "name": "storage_credential_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the storage credential."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credential_info": {
                    "type": "object",
                    "properties": {
                      "aws_iam_role": {
                        "type": "object",
                        "properties": {
                          "role_arn": {
                            "type": "string",
                            "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
                          }
                        },
                        "required": [
                          "role_arn"
                        ],
                        "description": "The AWS IAM role configuration"
                      },
                      "azure_managed_identity": {
                        "type": "object",
                        "properties": {
                          "access_connector_id": {
                            "type": "string",
                            "description": "The Azure resource ID of the Azure Databricks Access Connector. Use the format `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.Databricks/accessConnectors/{connector-name}`."
                          },
                          "credential_id": {
                            "type": "string",
                            "description": "The Databricks internal ID that represents this managed identity."
                          },
                          "managed_identity_id": {
                            "type": "string",
                            "description": "The Azure resource ID of the managed identity. Use the format, `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identity-name}` This is only available for user-assgined identities. For system-assigned identities, the access_connector_id is used to identify the identity. If this field is not provided, then we assume the AzureManagedIdentity is using the system-assigned identity."
                          }
                        },
                        "required": [
                          "access_connector_id"
                        ],
                        "description": "The Azure managed identity configuration."
                      },
                      "azure_service_principal": {
                        "type": "object",
                        "properties": {
                          "directory_id": {
                            "type": "string",
                            "description": "The directory ID corresponding to the Azure Active Directory (AAD) tenant of the application."
                          },
                          "application_id": {
                            "type": "string",
                            "description": "The application ID of the application registration within the referenced AAD tenant."
                          },
                          "client_secret": {
                            "type": "string",
                            "description": "The client secret generated for the above app ID in AAD."
                          }
                        },
                        "required": [
                          "directory_id",
                          "application_id",
                          "client_secret"
                        ],
                        "description": "The Azure service principal configuration."
                      },
                      "cloudflare_api_token": {
                        "type": "object",
                        "properties": {
                          "access_key_id": {
                            "type": "string",
                            "description": "The access key ID associated with the API token."
                          },
                          "secret_access_key": {
                            "type": "string",
                            "description": "The secret access token generated for the above access key ID."
                          },
                          "account_id": {
                            "type": "string",
                            "description": "The ID of the account associated with the API token."
                          }
                        },
                        "required": [
                          "access_key_id",
                          "secret_access_key"
                        ],
                        "description": "The Cloudflare API token configuration."
                      },
                      "comment": {
                        "type": "string",
                        "description": "Comment associated with the credential."
                      },
                      "databricks_gcp_service_account": {
                        "type": "object",
                        "properties": {},
                        "description": "The Databricks managed GCP service account configuration."
                      },
                      "isolation_mode": {
                        "type": "string",
                        "x-enum": [
                          "ISOLATION_MODE_ISOLATED",
                          "ISOLATION_MODE_OPEN"
                        ],
                        "description": "Whether the current securable is accessible from all workspaces or a specific set of workspaces."
                      },
                      "owner": {
                        "type": "string",
                        "description": "Username of current owner of credential."
                      },
                      "read_only": {
                        "type": "boolean",
                        "description": "Whether the credential is usable only for read operations. Only applicable when purpose is **STORAGE**."
                      }
                    },
                    "description": ":param skip_validation: bool (optional) Optional. Supplying true to this argument skips validation of the updated set of credentials."
                  },
                  "skip_validation": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountsUpdateStorageCredentialResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountStorageCredentialsAPI"
      }
    },
    "/api/2.1/unity-catalog/credentials": {
      "post": {
        "operationId": "credentials_create_credential",
        "summary": "Creates a new credential. The type of credential to be created is determined by the **purpose** field,",
        "tags": [
          "catalog",
          "credentials"
        ],
        "description": "Creates a new credential. The type of credential to be created is determined by the **purpose** field,\nwhich should be either **SERVICE** or **STORAGE**.\n\nThe caller must be a metastore admin or have the metastore privilege **CREATE_STORAGE_CREDENTIAL** for\nstorage credentials, or **CREATE_SERVICE_CREDENTIAL** for service credentials.\n\n:param name: str\n  The credential name. The name must be unique among storage and service credentials within the\n  metastore.\n:param aws_iam_role: :class:`AwsIamRole` (optional)\n  The AWS IAM role configuration.\n:param azure_managed_identity: :class:`AzureManagedIdentity` (optional)\n  The Azure managed identity configuration.\n:param azure_service_principal: :class:`AzureServicePrincipal` (optional)\n  The Azure service principal configuration.\n:param comment: str (optional)\n  Comment associated with the credential.\n:param databricks_gcp_service_account: :class:`DatabricksGcpServiceAccount` (optional)\n  The Databricks managed GCP service account configuration.\n:param purpose: :class:`CredentialPurpose` (optional)\n  Indicates the purpose of the credential.\n:param read_only: bool (optional)\n  Whether the credential is usable only for read operations. Only applicable when purpose is\n  **STORAGE**.\n:param skip_validation: bool (optional)\n  Optional. Supplying true to this argument skips validation of the created set of credentials.\n\n:returns: :class:`CredentialInfo`",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The credential name. The name must be unique among storage and service credentials within the metastore."
                  },
                  "aws_iam_role": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "The external ID used in role assumption to prevent the confused deputy problem."
                      },
                      "role_arn": {
                        "type": "string",
                        "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
                      },
                      "unity_catalog_iam_arn": {
                        "type": "string",
                        "description": "The Amazon Resource Name (ARN) of the AWS IAM user managed by Databricks. This is the identity that is going to assume the AWS IAM role."
                      }
                    },
                    "description": "The AWS IAM role configuration."
                  },
                  "azure_managed_identity": {
                    "type": "object",
                    "properties": {
                      "access_connector_id": {
                        "type": "string",
                        "description": "The Azure resource ID of the Azure Databricks Access Connector. Use the format `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.Databricks/accessConnectors/{connector-name}`."
                      },
                      "credential_id": {
                        "type": "string",
                        "description": "The Databricks internal ID that represents this managed identity."
                      },
                      "managed_identity_id": {
                        "type": "string",
                        "description": "The Azure resource ID of the managed identity. Use the format, `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identity-name}` This is only available for user-assgined identities. For system-assigned identities, the access_connector_id is used to identify the identity. If this field is not provided, then we assume the AzureManagedIdentity is using the system-assigned identity."
                      }
                    },
                    "required": [
                      "access_connector_id"
                    ],
                    "description": "The Azure managed identity configuration."
                  },
                  "azure_service_principal": {
                    "type": "object",
                    "properties": {
                      "directory_id": {
                        "type": "string",
                        "description": "The directory ID corresponding to the Azure Active Directory (AAD) tenant of the application."
                      },
                      "application_id": {
                        "type": "string",
                        "description": "The application ID of the application registration within the referenced AAD tenant."
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "The client secret generated for the above app ID in AAD."
                      }
                    },
                    "required": [
                      "directory_id",
                      "application_id",
                      "client_secret"
                    ],
                    "description": "The Azure service principal configuration."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment associated with the credential."
                  },
                  "databricks_gcp_service_account": {
                    "type": "object",
                    "properties": {
                      "credential_id": {
                        "type": "string",
                        "description": "The Databricks internal ID that represents this managed identity."
                      },
                      "email": {
                        "type": "string",
                        "description": "The email of the service account."
                      },
                      "private_key_id": {
                        "type": "string",
                        "description": "The ID that represents the private key for this Service Account"
                      }
                    },
                    "description": "The Databricks managed GCP service account configuration."
                  },
                  "purpose": {
                    "type": "string",
                    "x-enum": [
                      "SERVICE",
                      "STORAGE"
                    ],
                    "description": "Indicates the purpose of the credential."
                  },
                  "read_only": {
                    "type": "boolean",
                    "description": "Whether the credential is usable only for read operations. Only applicable when purpose is **STORAGE**."
                  },
                  "skip_validation": {
                    "type": "boolean",
                    "description": "Optional. Supplying true to this argument skips validation of the created set of credentials."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "CredentialsAPI"
      },
      "get": {
        "operationId": "credentials_list_credentials",
        "summary": "Gets an array of credentials (as __CredentialInfo__ objects).",
        "tags": [
          "catalog",
          "credentials"
        ],
        "description": "Gets an array of credentials (as __CredentialInfo__ objects).\n\nThe array is limited to only the credentials that the caller has permission to access. If the caller\nis a metastore admin, retrieval of credentials is unrestricted. There is no guarantee of a specific\nordering of the elements in the array.\n\nPAGINATION BEHAVIOR: The API is by default paginated, a page may contain zero results while still\nproviding a next_page_token. Clients must continue reading pages until next_page_token is absent,\nwhich is the only indication that the end of results has been reached.\n\n:param include_unbound: bool (optional)\n  Whether to include credentials not bound to the workspace. Effective only if the user has permission\n  to update the credential\u2013workspace binding.\n:param max_results: int (optional)\n  Maximum number of credentials to return. - If not set, the default max page size is used. - When set\n  to a value greater than 0, the page length is the minimum of this value and a server-configured\n  value. - When set to 0, the page length is set to a server-configured value (recommended). - When\n  set to a value less than 0, an invalid parameter error is returned.\n:param page_token: str (optional)\n  Opaque token to retrieve the next page of results.\n:param purpose: :class:`CredentialPurpose` (optional)\n  Return only credentials for the specified purpose.\n\n:returns: Iterator over :class:`CredentialInfo`",
        "parameters": [
          {
            "name": "include_unbound",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include credentials not bound to the workspace. Effective only if the user has permission to update the credential\u2013workspace binding."
          },
          {
            "name": "max_results",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Maximum number of credentials to return. - If not set, the default max page size is used. - When set to a value greater than 0, the page length is the minimum of this value and a server-configured value. - When set to 0, the page length is set to a server-configured value (recommended). - When set to a value less than 0, an invalid parameter error is returned."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque token to retrieve the next page of results."
          },
          {
            "name": "purpose",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CredentialPurpose"
            },
            "description": "Return only credentials for the specified purpose."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCredentialsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "CredentialsAPI"
      }
    },
    "/api/2.1/unity-catalog/credentials/{name_arg}": {
      "delete": {
        "operationId": "credentials_delete_credential",
        "summary": "Deletes a service or storage credential from the metastore. The caller must be an owner of the",
        "tags": [
          "catalog",
          "credentials"
        ],
        "description": "Deletes a service or storage credential from the metastore. The caller must be an owner of the\ncredential.\n\n:param name_arg: str\n  Name of the credential.\n:param force: bool (optional)\n  Force an update even if there are dependent services (when purpose is **SERVICE**) or dependent\n  external locations and external tables (when purpose is **STORAGE**).",
        "parameters": [
          {
            "name": "name_arg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the credential."
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Force an update even if there are dependent services (when purpose is **SERVICE**) or dependent external locations and external tables (when purpose is **STORAGE**)."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "CredentialsAPI"
      },
      "get": {
        "operationId": "credentials_get_credential",
        "summary": "Gets a service or storage credential from the metastore. The caller must be a metastore admin, the",
        "tags": [
          "catalog",
          "credentials"
        ],
        "description": "Gets a service or storage credential from the metastore. The caller must be a metastore admin, the\nowner of the credential, or have any permission on the credential.\n\n:param name_arg: str\n  Name of the credential.\n\n:returns: :class:`CredentialInfo`",
        "parameters": [
          {
            "name": "name_arg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the credential."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "CredentialsAPI"
      },
      "patch": {
        "operationId": "credentials_update_credential",
        "summary": "Updates a service or storage credential on the metastore.",
        "tags": [
          "catalog",
          "credentials"
        ],
        "description": "Updates a service or storage credential on the metastore.\n\nThe caller must be the owner of the credential or a metastore admin or have the `MANAGE` permission.\nIf the caller is a metastore admin, only the __owner__ field can be changed.\n\n:param name_arg: str\n  Name of the credential.\n:param aws_iam_role: :class:`AwsIamRole` (optional)\n  The AWS IAM role configuration.\n:param azure_managed_identity: :class:`AzureManagedIdentity` (optional)\n  The Azure managed identity configuration.\n:param azure_service_principal: :class:`AzureServicePrincipal` (optional)\n  The Azure service principal configuration.\n:param comment: str (optional)\n  Comment associated with the credential.\n:param databricks_gcp_service_account: :class:`DatabricksGcpServiceAccount` (optional)\n  The Databricks managed GCP service account configuration.\n:param force: bool (optional)\n  Force an update even if there are dependent services (when purpose is **SERVICE**) or dependent\n  external locations and external tables (when purpose is **STORAGE**).\n:param isolation_mode: :class:`IsolationMode` (optional)\n  Whether the current securable is accessible from all workspaces or a specific set of workspaces.\n:param new_name: str (optional)\n  New name of credential.\n:param owner: str (optional)\n  Username of current owner of credential.\n:param read_only: bool (optional)\n  Whether the credential is usable only for read operations. Only applicable when purpose is\n  **STORAGE**.\n:param skip_validation: bool (optional)\n  Supply true to this argument to skip validation of the updated credential.\n\n:returns: :class:`CredentialInfo`",
        "parameters": [
          {
            "name": "name_arg",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of the credential."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "aws_iam_role": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "The external ID used in role assumption to prevent the confused deputy problem."
                      },
                      "role_arn": {
                        "type": "string",
                        "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
                      },
                      "unity_catalog_iam_arn": {
                        "type": "string",
                        "description": "The Amazon Resource Name (ARN) of the AWS IAM user managed by Databricks. This is the identity that is going to assume the AWS IAM role."
                      }
                    },
                    "description": "The AWS IAM role configuration."
                  },
                  "azure_managed_identity": {
                    "type": "object",
                    "properties": {
                      "access_connector_id": {
                        "type": "string",
                        "description": "The Azure resource ID of the Azure Databricks Access Connector. Use the format `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.Databricks/accessConnectors/{connector-name}`."
                      },
                      "credential_id": {
                        "type": "string",
                        "description": "The Databricks internal ID that represents this managed identity."
                      },
                      "managed_identity_id": {
                        "type": "string",
                        "description": "The Azure resource ID of the managed identity. Use the format, `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identity-name}` This is only available for user-assgined identities. For system-assigned identities, the access_connector_id is used to identify the identity. If this field is not provided, then we assume the AzureManagedIdentity is using the system-assigned identity."
                      }
                    },
                    "required": [
                      "access_connector_id"
                    ],
                    "description": "The Azure managed identity configuration."
                  },
                  "azure_service_principal": {
                    "type": "object",
                    "properties": {
                      "directory_id": {
                        "type": "string",
                        "description": "The directory ID corresponding to the Azure Active Directory (AAD) tenant of the application."
                      },
                      "application_id": {
                        "type": "string",
                        "description": "The application ID of the application registration within the referenced AAD tenant."
                      },
                      "client_secret": {
                        "type": "string",
                        "description": "The client secret generated for the above app ID in AAD."
                      }
                    },
                    "required": [
                      "directory_id",
                      "application_id",
                      "client_secret"
                    ],
                    "description": "The Azure service principal configuration."
                  },
                  "comment": {
                    "type": "string",
                    "description": "Comment associated with the credential."
                  },
                  "databricks_gcp_service_account": {
                    "type": "object",
                    "properties": {
                      "credential_id": {
                        "type": "string",
                        "description": "The Databricks internal ID that represents this managed identity."
                      },
                      "email": {
                        "type": "string",
                        "description": "The email of the service account."
                      },
                      "private_key_id": {
                        "type": "string",
                        "description": "The ID that represents the private key for this Service Account"
                      }
                    },
                    "description": "The Databricks managed GCP service account configuration."
                  },
                  "force": {
                    "type": "boolean",
                    "description": "Force an update even if there are dependent services (when purpose is **SERVICE**) or dependent external locations and external tables (when purpose is **STORAGE**)."
                  },
                  "isolation_mode": {
                    "type": "string",
                    "x-enum": [
                      "ISOLATION_MODE_ISOLATED",
                      "ISOLATION_MODE_OPEN"
                    ],
                    "description": "Whether the current securable is accessible from all workspaces or a specific set of workspaces."
                  },
                  "new_name": {
                    "type": "string",
                    "description": "New name of credential."
                  },
                  "owner": {
                    "type": "string",
                    "description": "Username of current owner of credential."
                  },
                  "read_only": {
                    "type": "boolean",
                    "description": "Whether the credential is usable only for read operations. Only applicable when purpose is **STORAGE**."
                  },
                  "skip_validation": {
                    "type": "boolean",
                    "description": "Supply true to this argument to skip validation of the updated credential."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialInfo"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "CredentialsAPI"
      }
    },
    "/api/2.1/unity-catalog/temporary-service-credentials": {
      "post": {
        "operationId": "credentials_generate_temporary_service_credential",
        "summary": "Returns a set of temporary credentials generated using the specified service credential. The caller",
        "tags": [
          "catalog",
          "credentials"
        ],
        "description": "Returns a set of temporary credentials generated using the specified service credential. The caller\nmust be a metastore admin or have the metastore privilege **ACCESS** on the service credential.\n\n:param credential_name: str\n  The name of the service credential used to generate a temporary credential\n:param azure_options: :class:`GenerateTemporaryServiceCredentialAzureOptions` (optional)\n:param gcp_options: :class:`GenerateTemporaryServiceCredentialGcpOptions` (optional)\n\n:returns: :class:`TemporaryCredentials`",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credential_name": {
                    "type": "string",
                    "description": "The name of the service credential used to generate a temporary credential"
                  },
                  "azure_options": {
                    "type": "object",
                    "properties": {
                      "resources": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The resources to which the temporary Azure credential should apply. These resources are the scopes that are passed to the token provider (see https://learn.microsoft.com/python/api/azure-core/azure.core.credentials.tokencredential?view=azure-python)"
                      }
                    },
                    "description": ":param gcp_options: :class:`GenerateTemporaryServiceCredentialGcpOptions` (optional)"
                  },
                  "gcp_options": {
                    "type": "object",
                    "properties": {
                      "scopes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The scopes to which the temporary GCP credential should apply. These resources are the scopes that are passed to the token provider (see https://google-auth.readthedocs.io/en/latest/reference/google.auth.html#google.auth.credentials.Credentials)"
                      }
                    },
                    "description": "The GCP cloud options to customize the requested temporary credential"
                  }
                },
                "required": [
                  "credential_name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemporaryCredentials"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "CredentialsAPI"
      }
    },
    "/api/2.1/unity-catalog/validate-credentials": {
      "post": {
        "operationId": "credentials_validate_credential",
        "summary": "Validates a credential.",
        "tags": [
          "catalog",
          "credentials"
        ],
        "description": "Validates a credential.\n\nFor service credentials (purpose is **SERVICE**), either the __credential_name__ or the cloud-specific\ncredential must be provided.\n\nFor storage credentials (purpose is **STORAGE**), at least one of __external_location_name__ and\n__url__ need to be provided. If only one of them is provided, it will be used for validation. And if\nboth are provided, the __url__ will be used for validation, and __external_location_name__ will be\nignored when checking overlapping urls. Either the __credential_name__ or the cloud-specific\ncredential must be provided.\n\nThe caller must be a metastore admin or the credential owner or have the required permission on the\nmetastore and the credential (e.g., **CREATE_EXTERNAL_LOCATION** when purpose is **STORAGE**).\n\n:param aws_iam_role: :class:`AwsIamRole` (optional)\n:param azure_managed_identity: :class:`AzureManagedIdentity` (optional)\n:param credential_name: str (optional)\n  Required. The name of an existing credential or long-lived cloud credential to validate.\n:param databricks_gcp_service_account: :class:`DatabricksGcpServiceAccount` (optional)\n:param external_location_name: str (optional)\n  The name of an existing external location to validate. Only applicable for storage credentials\n  (purpose is **STORAGE**.)\n:param purpose: :class:`CredentialPurpose` (optional)\n  The purpose of the credential. This should only be used when the credential is specified.\n:param read_only: bool (optional)\n  Whether the credential is only usable for read operations. Only applicable for storage credentials\n  (purpose is **STORAGE**.)\n:param url: str (optional)\n  The external location url to validate. Only applicable when purpose is **STORAGE**.\n\n:returns: :class:`ValidateCredentialResponse`",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "aws_iam_role": {
                    "type": "object",
                    "properties": {
                      "external_id": {
                        "type": "string",
                        "description": "The external ID used in role assumption to prevent the confused deputy problem."
                      },
                      "role_arn": {
                        "type": "string",
                        "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
                      },
                      "unity_catalog_iam_arn": {
                        "type": "string",
                        "description": "The Amazon Resource Name (ARN) of the AWS IAM user managed by Databricks. This is the identity that is going to assume the AWS IAM role."
                      }
                    },
                    "description": ":param azure_managed_identity: :class:`AzureManagedIdentity` (optional)"
                  },
                  "azure_managed_identity": {
                    "type": "object",
                    "properties": {
                      "access_connector_id": {
                        "type": "string",
                        "description": "The Azure resource ID of the Azure Databricks Access Connector. Use the format `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.Databricks/accessConnectors/{connector-name}`."
                      },
                      "credential_id": {
                        "type": "string",
                        "description": "The Databricks internal ID that represents this managed identity."
                      },
                      "managed_identity_id": {
                        "type": "string",
                        "description": "The Azure resource ID of the managed identity. Use the format, `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identity-name}` This is only available for user-assgined identities. For system-assigned identities, the access_connector_id is used to identify the identity. If this field is not provided, then we assume the AzureManagedIdentity is using the system-assigned identity."
                      }
                    },
                    "required": [
                      "access_connector_id"
                    ],
                    "description": "The Azure managed identity configuration."
                  },
                  "credential_name": {
                    "type": "string",
                    "description": "Required. The name of an existing credential or long-lived cloud credential to validate."
                  },
                  "databricks_gcp_service_account": {
                    "type": "object",
                    "properties": {
                      "credential_id": {
                        "type": "string",
                        "description": "The Databricks internal ID that represents this managed identity."
                      },
                      "email": {
                        "type": "string",
                        "description": "The email of the service account."
                      },
                      "private_key_id": {
                        "type": "string",
                        "description": "The ID that represents the private key for this Service Account"
                      }
                    },
                    "description": ":param external_location_name: str (optional) The name of an existing external location to validate. Only applicable for storage credentials (purpose is **STORAGE**.)"
                  },
                  "external_location_name": {
                    "type": "string"
                  },
                  "purpose": {
                    "type": "string",
                    "x-enum": [
                      "SERVICE",
                      "STORAGE"
                    ],
                    "description": "The purpose of the credential. This should only be used when the credential is specified."
                  },
                  "read_only": {
                    "type": "boolean",
                    "description": "Whether the credential is only usable for read operations. Only applicable for storage credentials (purpose is **STORAGE**.)"
                  },
                  "url": {
                    "type": "string",
                    "description": "The external location url to validate. Only applicable when purpose is **STORAGE**."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateCredentialResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "CredentialsAPI"
      }
    }
  },
  "components": {
    "schemas": {
      "AccessRequestDestinations": {
        "type": "object",
        "properties": {
          "securable": {
            "$ref": "#/components/schemas/Securable"
          },
          "are_any_destinations_hidden": {
            "type": "boolean",
            "description": "Indicates whether any destinations are hidden from the caller due to a lack of permissions. This value is true if the caller does not have permission to see all destinations."
          },
          "destination_source_securable": {
            "$ref": "#/components/schemas/Securable",
            "description": "The source securable from which the destinations are inherited. Either the same value as securable (if destination is set directly on the securable) or the nearest parent securable with destinations set."
          },
          "destinations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationDestination"
            },
            "description": "The access request destinations for the securable."
          },
          "full_name": {
            "type": "string",
            "description": "The full name of the securable. Redundant with the name in the securable object, but necessary for Terraform integration"
          },
          "securable_type": {
            "type": "string",
            "description": "The type of the securable. Redundant with the type in the securable object, but necessary for Terraform integration"
          }
        },
        "required": [
          "securable"
        ]
      },
      "AccountsCreateMetastoreAssignmentResponse": {
        "type": "object",
        "properties": {},
        "description": "The metastore assignment was successfully created."
      },
      "AccountsCreateMetastoreResponse": {
        "type": "object",
        "properties": {
          "metastore_info": {
            "$ref": "#/components/schemas/MetastoreInfo"
          }
        }
      },
      "AccountsCreateStorageCredentialInfo": {
        "type": "object",
        "properties": {
          "credential_info": {
            "$ref": "#/components/schemas/StorageCredentialInfo"
          }
        }
      },
      "AccountsDeleteMetastoreAssignmentResponse": {
        "type": "object",
        "properties": {},
        "description": "The metastore assignment was successfully deleted."
      },
      "AccountsDeleteMetastoreResponse": {
        "type": "object",
        "properties": {},
        "description": "The metastore was successfully deleted."
      },
      "AccountsDeleteStorageCredentialResponse": {
        "type": "object",
        "properties": {},
        "description": "The storage credential was successfully deleted."
      },
      "AccountsGetMetastoreResponse": {
        "type": "object",
        "properties": {
          "metastore_info": {
            "$ref": "#/components/schemas/MetastoreInfo"
          }
        },
        "description": "The metastore was successfully returned."
      },
      "AccountsListMetastoresResponse": {
        "type": "object",
        "properties": {
          "metastores": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MetastoreInfo"
            },
            "description": "An array of metastore information objects."
          }
        },
        "description": "Metastores were returned successfully."
      },
      "AccountsMetastoreAssignment": {
        "type": "object",
        "properties": {
          "metastore_assignment": {
            "$ref": "#/components/schemas/MetastoreAssignment"
          }
        },
        "description": "The workspace metastore assignment was successfully returned."
      },
      "AccountsStorageCredentialInfo": {
        "type": "object",
        "properties": {
          "credential_info": {
            "$ref": "#/components/schemas/StorageCredentialInfo"
          }
        },
        "description": "The storage credential was successfully retrieved."
      },
      "AccountsUpdateMetastoreAssignmentResponse": {
        "type": "object",
        "properties": {},
        "description": "The metastore assignment was successfully updated."
      },
      "AccountsUpdateMetastoreResponse": {
        "type": "object",
        "properties": {
          "metastore_info": {
            "$ref": "#/components/schemas/MetastoreInfo"
          }
        },
        "description": "The metastore update request succeeded."
      },
      "AccountsUpdateStorageCredentialResponse": {
        "type": "object",
        "properties": {
          "credential_info": {
            "$ref": "#/components/schemas/StorageCredentialInfo"
          }
        },
        "description": "The storage credential was successfully updated."
      },
      "ArtifactAllowlistInfo": {
        "type": "object",
        "properties": {
          "artifact_matchers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ArtifactMatcher"
            }
          },
          "created_at": {
            "type": "integer",
            "description": "Time at which this artifact allowlist was set, in epoch milliseconds."
          },
          "created_by": {
            "type": "string",
            "description": "Username of the user who set the artifact allowlist."
          },
          "metastore_id": {
            "type": "string",
            "description": "Unique identifier of parent metastore."
          }
        }
      },
      "ArtifactMatcher": {
        "type": "object",
        "properties": {
          "artifact": {
            "type": "string"
          },
          "match_type": {
            "$ref": "#/components/schemas/MatchType",
            "description": "The pattern matching type of the artifact"
          }
        },
        "required": [
          "artifact",
          "match_type"
        ]
      },
      "AssignResponse": {
        "type": "object",
        "properties": {}
      },
      "AwsCredentials": {
        "type": "object",
        "properties": {
          "access_key_id": {
            "type": "string",
            "description": "The access key ID that identifies the temporary credentials."
          },
          "access_point": {
            "type": "string",
            "description": "The Amazon Resource Name (ARN) of the S3 access point for temporary credentials related the external location."
          },
          "secret_access_key": {
            "type": "string",
            "description": "The secret access key that can be used to sign AWS API requests."
          },
          "session_token": {
            "type": "string",
            "description": "The token that users must pass to AWS API to use the temporary credentials."
          }
        },
        "description": "AWS temporary credentials for API authentication. Read more at\n    https://docs.aws.amazon.com/STS/latest/APIReference/API_Credentials.html."
      },
      "AwsIamRole": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "The external ID used in role assumption to prevent the confused deputy problem."
          },
          "role_arn": {
            "type": "string",
            "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
          },
          "unity_catalog_iam_arn": {
            "type": "string",
            "description": "The Amazon Resource Name (ARN) of the AWS IAM user managed by Databricks. This is the identity that is going to assume the AWS IAM role."
          }
        },
        "description": "The AWS IAM role configuration"
      },
      "AwsIamRoleRequest": {
        "type": "object",
        "properties": {
          "role_arn": {
            "type": "string",
            "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
          }
        },
        "required": [
          "role_arn"
        ],
        "description": "The AWS IAM role configuration"
      },
      "AwsIamRoleResponse": {
        "type": "object",
        "properties": {
          "role_arn": {
            "type": "string",
            "description": "The Amazon Resource Name (ARN) of the AWS IAM role used to vend temporary credentials."
          },
          "external_id": {
            "type": "string",
            "description": "The external ID used in role assumption to prevent the confused deputy problem."
          },
          "unity_catalog_iam_arn": {
            "type": "string",
            "description": "The Amazon Resource Name (ARN) of the AWS IAM user managed by Databricks. This is the identity that is going to assume the AWS IAM role."
          }
        },
        "required": [
          "role_arn"
        ],
        "description": "The AWS IAM role configuration"
      },
      "AwsSqsQueue": {
        "type": "object",
        "properties": {
          "managed_resource_id": {
            "type": "string"
          },
          "queue_url": {
            "type": "string",
            "description": "The AQS queue url in the format https://sqs.{region}.amazonaws.com/{account id}/{queue name}. Only required for provided_sqs."
          }
        }
      },
      "AzureActiveDirectoryToken": {
        "type": "object",
        "properties": {
          "aad_token": {
            "type": "string",
            "description": "Opaque token that contains claims that you can use in Azure Active Directory to access cloud services."
          }
        },
        "description": "Azure Active Directory token, essentially the Oauth token for Azure Service Principal or Managed\n    Identity. Read more at\n    https://learn.microsoft.com/en-us/azure/databricks/dev-tools/api/latest/aad/service-prin-aad-token"
      },
      "AzureManagedIdentity": {
        "type": "object",
        "properties": {
          "access_connector_id": {
            "type": "string",
            "description": "The Azure resource ID of the Azure Databricks Access Connector. Use the format `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.Databricks/accessConnectors/{connector-name}`."
          },
          "credential_id": {
            "type": "string",
            "description": "The Databricks internal ID that represents this managed identity."
          },
          "managed_identity_id": {
            "type": "string",
            "description": "The Azure resource ID of the managed identity. Use the format, `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identity-name}` This is only available for user-assgined identities. For system-assigned identities, the access_connector_id is used to identify the identity. If this field is not provided, then we assume the AzureManagedIdentity is using the system-assigned identity."
          }
        },
        "required": [
          "access_connector_id"
        ],
        "description": "The Azure managed identity configuration."
      },
      "AzureManagedIdentityRequest": {
        "type": "object",
        "properties": {
          "access_connector_id": {
            "type": "string",
            "description": "The Azure resource ID of the Azure Databricks Access Connector. Use the format `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.Databricks/accessConnectors/{connector-name}`."
          },
          "managed_identity_id": {
            "type": "string",
            "description": "The Azure resource ID of the managed identity. Use the format, `/subscriptions/{guid}/resourceGroups/{rg-name}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identity-name}` This is only available for user-assgined identities. For system-assigned identities, the access_connector_id is used to identify the identity. If this field is not provided, then we assume the AzureManagedIdentity is using the system-assigned identity."
          }
        },
        "required": [
          "access_connector_id"
        ],
        "description": "The Azure managed identity configuration."
      },
      "AzureManagedIdentityResponse": {
        "type": "object",
        "properties": {
          "access_connector_id": {
            "type": "string",
[...]
