{
  "openapi": "3.0.0",
  "info": {
    "title": "Databricks Iam API (account)",
    "description": "OpenAPI specification for the Databricks iam service (account-level APIs), generated from the Databricks Python SDK.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://accounts.cloud.databricks.com",
      "description": "Databricks account"
    }
  ],
  "paths": {
    "/api/2.0/preview/accounts/{account_id}/access-control/assignable-roles": {
      "get": {
        "operationId": "account_access_control_get_assignable_roles_for_resource",
        "summary": "Gets all the roles that can be granted on an account level resource. A role is grantable if the rule",
        "tags": [
          "iam",
          "account_access_control"
        ],
        "description": "Gets all the roles that can be granted on an account level resource. A role is grantable if the rule\nset on the resource can contain an access rule of the role.\n\n:param resource: str\n  The resource name for which assignable roles will be listed.\n\n  Examples | Summary :--- | :--- `resource=accounts/<ACCOUNT_ID>` | A resource name for the account.\n  `resource=accounts/<ACCOUNT_ID>/groups/<GROUP_ID>` | A resource name for the group.\n  `resource=accounts/<ACCOUNT_ID>/servicePrincipals/<SP_ID>` | A resource name for the service\n  principal. `resource=accounts/<ACCOUNT_ID>/tagPolicies/<TAG_POLICY_ID>` | A resource name for the\n  tag policy.\n\n:returns: :class:`GetAssignableRolesForResourceResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The resource name for which assignable roles will be listed. Examples | Summary :--- | :--- `resource=accounts/<ACCOUNT_ID>` | A resource name for the account. `resource=accounts/<ACCOUNT_ID>/groups/<GROUP_ID>` | A resource name for the group. `resource=accounts/<ACCOUNT_ID>/servicePrincipals/<SP_ID>` | A resource name for the service principal. `resource=accounts/<ACCOUNT_ID>/tagPolicies/<TAG_POLICY_ID>` | A resource name for the tag policy."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssignableRolesForResourceResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/preview/accounts/{account_id}/access-control/rule-sets": {
      "get": {
        "operationId": "account_access_control_get_rule_set",
        "summary": "Get a rule set by its name. A rule set is always attached to a resource and contains a list of access",
        "tags": [
          "iam",
          "account_access_control"
        ],
        "description": "Get a rule set by its name. A rule set is always attached to a resource and contains a list of access\nrules on the said resource. Currently only a default rule set for each resource is supported.\n\n:param name: str\n  The ruleset name associated with the request.\n\n  Examples | Summary :--- | :--- `name=accounts/<ACCOUNT_ID>/ruleSets/default` | A name for a rule set\n  on the account. `name=accounts/<ACCOUNT_ID>/groups/<GROUP_ID>/ruleSets/default` | A name for a rule\n  set on the group.\n  `name=accounts/<ACCOUNT_ID>/servicePrincipals/<SERVICE_PRINCIPAL_APPLICATION_ID>/ruleSets/default` |\n  A name for a rule set on the service principal.\n  `name=accounts/<ACCOUNT_ID>/tagPolicies/<TAG_POLICY_ID>/ruleSets/default` | A name for a rule set on\n  the tag policy.\n:param etag: str\n  Etag used for versioning. The response is at least as fresh as the eTag provided. Etag is used for\n  optimistic concurrency control as a way to help prevent simultaneous updates of a rule set from\n  overwriting each other. It is strongly suggested that systems make use of the etag in the read ->\n  modify -> write pattern to perform rule set updates in order to avoid race conditions that is get an\n  etag from a GET rule set request, and pass it with the PUT update request to identify the rule set\n  version you are updating.\n\n  Examples | Summary :--- | :--- `etag=` | An empty etag can only be used in GET to indicate no\n  freshness requirements. `etag=RENUAAABhSweA4NvVmmUYdiU717H3Tgy0UJdor3gE4a+mq/oj9NjAf8ZsQ==` | An\n  etag encoded a specific version of the rule set to get or to be updated.\n\n:returns: :class:`RuleSetResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ruleset name associated with the request. Examples | Summary :--- | :--- `name=accounts/<ACCOUNT_ID>/ruleSets/default` | A name for a rule set on the account. `name=accounts/<ACCOUNT_ID>/groups/<GROUP_ID>/ruleSets/default` | A name for a rule set on the group. `name=accounts/<ACCOUNT_ID>/servicePrincipals/<SERVICE_PRINCIPAL_APPLICATION_ID>/ruleSets/default` | A name for a rule set on the service principal. `name=accounts/<ACCOUNT_ID>/tagPolicies/<TAG_POLICY_ID>/ruleSets/default` | A name for a rule set on the tag policy."
          },
          {
            "name": "etag",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Etag used for versioning. The response is at least as fresh as the eTag provided. Etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a rule set from overwriting each other. It is strongly suggested that systems make use of the etag in the read -> modify -> write pattern to perform rule set updates in order to avoid race conditions that is get an etag from a GET rule set request, and pass it with the PUT update request to identify the rule set version you are updating. Examples | Summary :--- | :--- `etag=` | An empty etag can only be used in GET to indicate no freshness requirements. `etag=RENUAAABhSweA4NvVmmUYdiU717H3Tgy0UJdor3gE4a+mq/oj9NjAf8ZsQ==` | An etag encoded a specific version of the rule set to get or to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleSetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "account_access_control_update_rule_set",
        "summary": "Replace the rules of a rule set. First, use get to read the current version of the rule set before",
        "tags": [
          "iam",
          "account_access_control"
        ],
        "description": "Replace the rules of a rule set. First, use get to read the current version of the rule set before\nmodifying it. This pattern helps prevent conflicts between concurrent updates.\n\n:param name: str\n  Name of the rule set.\n:param rule_set: :class:`RuleSetUpdateRequest`\n\n:returns: :class:`RuleSetResponse`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the rule set."
                  },
                  "rule_set": {
                    "type": "string",
                    "description": ":returns: :class:`RuleSetResponse`"
                  }
                },
                "required": [
                  "name",
                  "rule_set"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleSetResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/scim/v2/Groups": {
      "post": {
        "operationId": "account_groups_v2_create",
        "summary": "Creates a group in the Databricks account with a unique name, using the supplied group details.",
        "tags": [
          "iam",
          "account_groups_v2"
        ],
        "description": "Creates a group in the Databricks account with a unique name, using the supplied group details.\n\n:param display_name: str (optional)\n  String that represents a human-readable group name\n:param external_id: str (optional)\n:param id: str (optional)\n  Databricks group ID\n:param members: List[:class:`ComplexValue`] (optional)\n:param meta: :class:`ResourceMeta` (optional)\n  Container for the group identifier. Workspace local versus account.\n:param roles: List[:class:`ComplexValue`] (optional)\n  Indicates if the group has the admin role.\n\n:returns: :class:`AccountGroup`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "String that represents a human-readable group name"
                  },
                  "external_id": {
                    "type": "string",
                    "description": ":param id: str (optional) Databricks group ID"
                  },
                  "id": {
                    "type": "string"
                  },
                  "members": {
                    "type": "string",
                    "description": ":param meta: :class:`ResourceMeta` (optional) Container for the group identifier. Workspace local versus account."
                  },
                  "meta": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "string",
                    "description": "Indicates if the group has the admin role."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "account_groups_v2_list",
        "summary": "Gets all details of the groups associated with the Databricks account. As of 08/22/2025, this endpoint",
        "tags": [
          "iam",
          "account_groups_v2"
        ],
        "description": "Gets all details of the groups associated with the Databricks account. As of 08/22/2025, this endpoint\nwill no longer return members. Instead, members should be retrieved by iterating through `Get group\ndetails`. Existing accounts that rely on this attribute will not be impacted and will continue\nreceiving member data as before.\n\n:param attributes: str (optional)\n  Comma-separated list of attributes to return in response.\n:param count: int (optional)\n  Desired number of results per page. Default is 10000.\n:param excluded_attributes: str (optional)\n  Comma-separated list of attributes to exclude in response.\n:param filter: str (optional)\n  Query by which the results have to be filtered. Supported operators are equals(`eq`),\n  contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be\n  formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently\n  only support simple expressions.\n\n  [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2\n:param sort_by: str (optional)\n  Attribute to sort the results.\n:param sort_order: :class:`ListSortOrder` (optional)\n  The order to sort the results.\n:param start_index: int (optional)\n  Specifies the index of the first result. First item is number 1.\n\n:returns: Iterator over :class:`AccountGroup`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to return in response."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Desired number of results per page. Default is 10000."
          },
          {
            "name": "excluded_attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to exclude in response."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query by which the results have to be filtered. Supported operators are equals(`eq`), contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently only support simple expressions. [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Attribute to sort the results."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The order to sort the results."
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the index of the first result. First item is number 1."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountGroupsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/scim/v2/Groups/{id}": {
      "delete": {
        "operationId": "account_groups_v2_delete",
        "summary": "Deletes a group from the Databricks account.",
        "tags": [
          "iam",
          "account_groups_v2"
        ],
        "description": "Deletes a group from the Databricks account.\n\n:param id: str\n  Unique ID for a group in the Databricks account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID for a group in the Databricks account."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "account_groups_v2_get",
        "summary": "Gets the information for a specific group in the Databricks account.",
        "tags": [
          "iam",
          "account_groups_v2"
        ],
        "description": "Gets the information for a specific group in the Databricks account.\n\n:param id: str\n  Unique ID for a group in the Databricks account.\n\n:returns: :class:`AccountGroup`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID for a group in the Databricks account."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGroup"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "account_groups_v2_patch",
        "summary": "Partially updates the details of a group.",
        "tags": [
          "iam",
          "account_groups_v2"
        ],
        "description": "Partially updates the details of a group.\n\n:param id: str\n  Unique ID in the Databricks workspace.\n:param operations: List[:class:`Patch`] (optional)\n:param schemas: List[:class:`PatchSchema`] (optional)\n  The schema of the patch request. Must be [\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"].",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID in the Databricks workspace."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations": {
                    "type": "string",
                    "description": ":param schemas: List[:class:`PatchSchema`] (optional) The schema of the patch request. Must be [\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"]."
                  },
                  "schemas": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "account_groups_v2_update",
        "summary": "Updates the details of a group by replacing the entire group entity.",
        "tags": [
          "iam",
          "account_groups_v2"
        ],
        "description": "Updates the details of a group by replacing the entire group entity.\n\n:param id: str\n  Databricks group ID\n:param display_name: str (optional)\n  String that represents a human-readable group name\n:param external_id: str (optional)\n:param members: List[:class:`ComplexValue`] (optional)\n:param meta: :class:`ResourceMeta` (optional)\n  Container for the group identifier. Workspace local versus account.\n:param roles: List[:class:`ComplexValue`] (optional)\n  Indicates if the group has the admin role.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Databricks group ID"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "String that represents a human-readable group name"
                  },
                  "external_id": {
                    "type": "string",
                    "description": ":param members: List[:class:`ComplexValue`] (optional)"
                  },
                  "members": {
                    "type": "string"
                  },
                  "meta": {
                    "type": "string",
                    "description": "Container for the group identifier. Workspace local versus account."
                  },
                  "roles": {
                    "type": "string",
                    "description": "Indicates if the group has the admin role."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/scim/v2/ServicePrincipals": {
      "post": {
        "operationId": "account_service_principals_v2_create",
        "summary": "Creates a new service principal in the Databricks account.",
        "tags": [
          "iam",
          "account_service_principals_v2"
        ],
        "description": "Creates a new service principal in the Databricks account.\n\n:param active: bool (optional)\n  If this user is active\n:param application_id: str (optional)\n  UUID relating to the service principal\n:param display_name: str (optional)\n  String that represents a concatenation of given and family names.\n:param external_id: str (optional)\n:param id: str (optional)\n  Databricks service principal ID.\n:param roles: List[:class:`ComplexValue`] (optional)\n  Indicates if the group has the admin role.\n\n:returns: :class:`AccountServicePrincipal`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "string",
                    "description": "If this user is active"
                  },
                  "application_id": {
                    "type": "string",
                    "description": "UUID relating to the service principal"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "String that represents a concatenation of given and family names."
                  },
                  "external_id": {
                    "type": "string",
                    "description": ":param id: str (optional) Databricks service principal ID."
                  },
                  "id": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "string",
                    "description": "Indicates if the group has the admin role."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountServicePrincipal"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "account_service_principals_v2_list",
        "summary": "Gets the set of service principals associated with a Databricks account.",
        "tags": [
          "iam",
          "account_service_principals_v2"
        ],
        "description": "Gets the set of service principals associated with a Databricks account.\n\n:param attributes: str (optional)\n  Comma-separated list of attributes to return in response.\n:param count: int (optional)\n  Desired number of results per page. Default is 10000.\n:param excluded_attributes: str (optional)\n  Comma-separated list of attributes to exclude in response.\n:param filter: str (optional)\n  Query by which the results have to be filtered. Supported operators are equals(`eq`),\n  contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be\n  formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently\n  only support simple expressions.\n\n  [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2\n:param sort_by: str (optional)\n  Attribute to sort the results.\n:param sort_order: :class:`ListSortOrder` (optional)\n  The order to sort the results.\n:param start_index: int (optional)\n  Specifies the index of the first result. First item is number 1.\n\n:returns: Iterator over :class:`AccountServicePrincipal`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to return in response."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Desired number of results per page. Default is 10000."
          },
          {
            "name": "excluded_attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to exclude in response."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query by which the results have to be filtered. Supported operators are equals(`eq`), contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently only support simple expressions. [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Attribute to sort the results."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The order to sort the results."
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the index of the first result. First item is number 1."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountServicePrincipalsResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/scim/v2/ServicePrincipals/{id}": {
      "delete": {
        "operationId": "account_service_principals_v2_delete",
        "summary": "Delete a single service principal in the Databricks account.",
        "tags": [
          "iam",
          "account_service_principals_v2"
        ],
        "description": "Delete a single service principal in the Databricks account.\n\n:param id: str\n  Unique ID for a service principal in the Databricks account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID for a service principal in the Databricks account."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "account_service_principals_v2_get",
        "summary": "Gets the details for a single service principal define in the Databricks account.",
        "tags": [
          "iam",
          "account_service_principals_v2"
        ],
        "description": "Gets the details for a single service principal define in the Databricks account.\n\n:param id: str\n  Unique ID for a service principal in the Databricks account.\n\n:returns: :class:`AccountServicePrincipal`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID for a service principal in the Databricks account."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountServicePrincipal"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "account_service_principals_v2_patch",
        "summary": "Partially updates the details of a single service principal in the Databricks account.",
        "tags": [
          "iam",
          "account_service_principals_v2"
        ],
        "description": "Partially updates the details of a single service principal in the Databricks account.\n\n:param id: str\n  Unique ID in the Databricks workspace.\n:param operations: List[:class:`Patch`] (optional)\n:param schemas: List[:class:`PatchSchema`] (optional)\n  The schema of the patch request. Must be [\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"].",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID in the Databricks workspace."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations": {
                    "type": "string",
                    "description": ":param schemas: List[:class:`PatchSchema`] (optional) The schema of the patch request. Must be [\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"]."
                  },
                  "schemas": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "account_service_principals_v2_update",
        "summary": "Updates the details of a single service principal.",
        "tags": [
          "iam",
          "account_service_principals_v2"
        ],
        "description": "Updates the details of a single service principal.\n\nThis action replaces the existing service principal with the same name.\n\n:param id: str\n  Databricks service principal ID.\n:param active: bool (optional)\n  If this user is active\n:param application_id: str (optional)\n  UUID relating to the service principal\n:param display_name: str (optional)\n  String that represents a concatenation of given and family names.\n:param external_id: str (optional)\n:param roles: List[:class:`ComplexValue`] (optional)\n  Indicates if the group has the admin role.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Databricks service principal ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "string",
                    "description": "If this user is active"
                  },
                  "application_id": {
                    "type": "string",
                    "description": "UUID relating to the service principal"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "String that represents a concatenation of given and family names."
                  },
                  "external_id": {
                    "type": "string",
                    "description": ":param roles: List[:class:`ComplexValue`] (optional) Indicates if the group has the admin role."
                  },
                  "roles": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/scim/v2/Users": {
      "post": {
        "operationId": "account_users_v2_create",
        "summary": "Creates a new user in the Databricks account. This new user will also be added to the Databricks",
        "tags": [
          "iam",
          "account_users_v2"
        ],
        "description": "Creates a new user in the Databricks account. This new user will also be added to the Databricks\naccount.\n\n:param active: bool (optional)\n  If this user is active\n:param display_name: str (optional)\n  String that represents a concatenation of given and family names. For example `John Smith`.\n:param emails: List[:class:`ComplexValue`] (optional)\n  All the emails associated with the Databricks user.\n:param external_id: str (optional)\n  External ID is not currently supported. It is reserved for future use.\n:param id: str (optional)\n  Databricks user ID.\n:param name: :class:`Name` (optional)\n:param roles: List[:class:`ComplexValue`] (optional)\n  Indicates if the group has the admin role.\n:param user_name: str (optional)\n  Email address of the Databricks user.\n\n:returns: :class:`AccountUser`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "string",
                    "description": "If this user is active"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "String that represents a concatenation of given and family names. For example `John Smith`."
                  },
                  "emails": {
                    "type": "string",
                    "description": "All the emails associated with the Databricks user."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "External ID is not currently supported. It is reserved for future use."
                  },
                  "id": {
                    "type": "string",
                    "description": "Databricks user ID."
                  },
                  "name": {
                    "type": "string",
                    "description": ":param roles: List[:class:`ComplexValue`] (optional) Indicates if the group has the admin role."
                  },
                  "roles": {
                    "type": "string"
                  },
                  "user_name": {
                    "type": "string",
                    "description": "Email address of the Databricks user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUser"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "account_users_v2_list",
        "summary": "Gets details for all the users associated with a Databricks account.",
        "tags": [
          "iam",
          "account_users_v2"
        ],
        "description": "Gets details for all the users associated with a Databricks account.\n\n:param attributes: str (optional)\n  Comma-separated list of attributes to return in response.\n:param count: int (optional)\n  Desired number of results per page. Default is 10000.\n:param excluded_attributes: str (optional)\n  Comma-separated list of attributes to exclude in response.\n:param filter: str (optional)\n  Query by which the results have to be filtered. Supported operators are equals(`eq`),\n  contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be\n  formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently\n  only support simple expressions.\n\n  [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2\n:param sort_by: str (optional)\n  Attribute to sort the results. Multi-part paths are supported. For example, `userName`,\n  `name.givenName`, and `emails`.\n:param sort_order: :class:`ListSortOrder` (optional)\n  The order to sort the results.\n:param start_index: int (optional)\n  Specifies the index of the first result. First item is number 1.\n\n:returns: Iterator over :class:`AccountUser`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to return in response."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Desired number of results per page. Default is 10000."
          },
          {
            "name": "excluded_attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to exclude in response."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query by which the results have to be filtered. Supported operators are equals(`eq`), contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently only support simple expressions. [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Attribute to sort the results. Multi-part paths are supported. For example, `userName`, `name.givenName`, and `emails`."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The order to sort the results."
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the index of the first result. First item is number 1."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountUsersResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/scim/v2/Users/{id}": {
      "delete": {
        "operationId": "account_users_v2_delete",
        "summary": "Deletes a user. Deleting a user from a Databricks account also removes objects associated with the",
        "tags": [
          "iam",
          "account_users_v2"
        ],
        "description": "Deletes a user. Deleting a user from a Databricks account also removes objects associated with the\nuser.\n\n:param id: str\n  Unique ID for a user in the Databricks account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID for a user in the Databricks account."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "account_users_v2_get",
        "summary": "Gets information for a specific user in Databricks account.",
        "tags": [
          "iam",
          "account_users_v2"
        ],
        "description": "Gets information for a specific user in Databricks account.\n\n:param id: str\n  Unique ID for a user in the Databricks account.\n:param attributes: str (optional)\n  Comma-separated list of attributes to return in response.\n:param count: int (optional)\n  Desired number of results per page. Default is 10000.\n:param excluded_attributes: str (optional)\n  Comma-separated list of attributes to exclude in response.\n:param filter: str (optional)\n  Query by which the results have to be filtered. Supported operators are equals(`eq`),\n  contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be\n  formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently\n  only support simple expressions.\n\n  [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2\n:param sort_by: str (optional)\n  Attribute to sort the results. Multi-part paths are supported. For example, `userName`,\n  `name.givenName`, and `emails`.\n:param sort_order: :class:`GetSortOrder` (optional)\n  The order to sort the results.\n:param start_index: int (optional)\n  Specifies the index of the first result. First item is number 1.\n\n:returns: :class:`AccountUser`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID for a user in the Databricks account."
          },
          {
            "name": "attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to return in response."
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Desired number of results per page. Default is 10000."
          },
          {
            "name": "excluded_attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of attributes to exclude in response."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Query by which the results have to be filtered. Supported operators are equals(`eq`), contains(`co`), starts with(`sw`) and not equals(`ne`). Additionally, simple expressions can be formed using logical operators - `and` and `or`. The [SCIM RFC] has more details but we currently only support simple expressions. [SCIM RFC]: https://tools.ietf.org/html/rfc7644#section-3.4.2.2"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Attribute to sort the results. Multi-part paths are supported. For example, `userName`, `name.givenName`, and `emails`."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The order to sort the results."
          },
          {
            "name": "start_index",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Specifies the index of the first result. First item is number 1."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUser"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "account_users_v2_patch",
        "summary": "Partially updates a user resource by applying the supplied operations on specific user attributes.",
        "tags": [
          "iam",
          "account_users_v2"
        ],
        "description": "Partially updates a user resource by applying the supplied operations on specific user attributes.\n\n:param id: str\n  Unique ID in the Databricks workspace.\n:param operations: List[:class:`Patch`] (optional)\n:param schemas: List[:class:`PatchSchema`] (optional)\n  The schema of the patch request. Must be [\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"].",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique ID in the Databricks workspace."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations": {
                    "type": "string",
                    "description": ":param schemas: List[:class:`PatchSchema`] (optional) The schema of the patch request. Must be [\"urn:ietf:params:scim:api:messages:2.0:PatchOp\"]."
                  },
                  "schemas": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "account_users_v2_update",
        "summary": "Replaces a user's information with the data supplied in request.",
        "tags": [
          "iam",
          "account_users_v2"
        ],
        "description": "Replaces a user's information with the data supplied in request.\n\n:param id: str\n  Databricks user ID.\n:param active: bool (optional)\n  If this user is active\n:param display_name: str (optional)\n  String that represents a concatenation of given and family names. For example `John Smith`.\n:param emails: List[:class:`ComplexValue`] (optional)\n  All the emails associated with the Databricks user.\n:param external_id: str (optional)\n  External ID is not currently supported. It is reserved for future use.\n:param name: :class:`Name` (optional)\n:param roles: List[:class:`ComplexValue`] (optional)\n  Indicates if the group has the admin role.\n:param user_name: str (optional)\n  Email address of the Databricks user.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Databricks user ID."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "active": {
                    "type": "string",
                    "description": "If this user is active"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "String that represents a concatenation of given and family names. For example `John Smith`."
                  },
                  "emails": {
                    "type": "string",
                    "description": "All the emails associated with the Databricks user."
                  },
                  "external_id": {
                    "type": "string",
                    "description": "External ID is not currently supported. It is reserved for future use."
                  },
                  "name": {
                    "type": "string",
                    "description": ":param roles: List[:class:`ComplexValue`] (optional) Indicates if the group has the admin role."
                  },
                  "roles": {
                    "type": "string"
                  },
                  "user_name": {
                    "type": "string",
                    "description": "Email address of the Databricks user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/workspaces/{workspace_id}/permissionassignments/principals/{principal_id}": {
      "delete": {
        "operationId": "workspace_assignment_delete",
        "summary": "Deletes the workspace permissions assignment in a given account and workspace for the specified",
        "tags": [
          "iam",
          "workspace_assignment"
        ],
        "description": "Deletes the workspace permissions assignment in a given account and workspace for the specified\nprincipal.\n\n:param workspace_id: int\n  The workspace ID for the account.\n:param principal_id: int\n  The ID of the user, service principal, or group.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The workspace ID for the account."
          },
          {
            "name": "principal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the user, service principal, or group."
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "workspace_assignment_update",
        "summary": "Creates or updates the workspace permissions assignment in a given account and workspace for the",
        "tags": [
          "iam",
          "workspace_assignment"
        ],
        "description": "Creates or updates the workspace permissions assignment in a given account and workspace for the\nspecified principal.\n\n:param workspace_id: int\n  The workspace ID.\n:param principal_id: int\n  The ID of the user, service principal, or group.\n:param permissions: List[:class:`WorkspacePermission`] (optional)\n  Array of permissions assignments to update on the workspace. Valid values are \"USER\" and \"ADMIN\"\n  (case-sensitive). If both \"USER\" and \"ADMIN\" are provided, \"ADMIN\" takes precedence. Other values\n  will be ignored. Note that excluding this field, or providing unsupported values, will have the same\n  effect as providing an empty list, which will result in the deletion of all permissions for the\n  principal.\n\n:returns: :class:`PermissionAssignment`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The workspace ID."
          },
          {
            "name": "principal_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the user, service principal, or group."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "permissions": {
                    "type": "string",
                    "description": "Array of permissions assignments to update on the workspace. Valid values are \"USER\" and \"ADMIN\" (case-sensitive). If both \"USER\" and \"ADMIN\" are provided, \"ADMIN\" takes precedence. Other values will be ignored. Note that excluding this field, or providing unsupported values, will have the same effect as providing an empty list, which will result in the deletion of all permissions for the principal."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionAssignment"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/workspaces/{workspace_id}/permissionassignments/permissions": {
      "get": {
        "operationId": "workspace_assignment_get",
        "summary": "Get an array of workspace permissions for the specified account and workspace.",
        "tags": [
          "iam",
          "workspace_assignment"
        ],
        "description": "Get an array of workspace permissions for the specified account and workspace.\n\n:param workspace_id: int\n  The workspace ID.\n\n:returns: :class:`WorkspacePermissions`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The workspace ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacePermissions"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/2.0/accounts/{account_id}/workspaces/{workspace_id}/permissionassignments": {
      "get": {
        "operationId": "workspace_assignment_list",
        "summary": "Get the permission assignments for the specified Databricks account and Databricks workspace.",
        "tags": [
          "iam",
          "workspace_assignment"
        ],
        "description": "Get the permission assignments for the specified Databricks account and Databricks workspace.\n\n:param workspace_id: int\n  The workspace ID for the account.\n\n:returns: Iterator over :class:`PermissionAssignment`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The workspace ID for the account."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionAssignments"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessControlRequest": {
        "type": "object",
        "properties": {
          "group_name": {
            "type": "string"
          },
          "permission_level": {
            "$ref": "#/components/schemas/PermissionLevel"
          },
          "service_principal_name": {
            "type": "string",
            "description": "application ID of a service principal"
          },
          "user_name": {
            "type": "string",
            "description": "name of the user"
          }
        }
      },
      "AccessControlResponse": {
        "type": "object",
        "properties": {
          "all_permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          },
          "display_name": {
            "type": "string",
            "description": "Display name of the user or service principal."
          },
          "group_name": {
            "type": "string",
            "description": "name of the group"
          },
          "service_principal_name": {
            "type": "string",
            "description": "Name of the service principal."
          },
          "user_name": {
            "type": "string",
            "description": "name of the user"
          }
        }
      },
      "AccountGroup": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "displayName": {
            "type": "string",
            "description": "String that represents a human-readable group name"
          },
          "externalId": {
            "type": "string",
            "description": "external_id should be unique for identifying groups"
          },
          "id": {
            "type": "string",
            "description": "Databricks group ID"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResourceMeta",
            "description": "Container for the group identifier. Workspace local versus account."
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "Indicates if the group has the admin role."
          }
        }
      },
      "AccountServicePrincipal": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "active": {
            "type": "boolean",
            "description": "If this user is active"
          },
          "applicationId": {
            "type": "string",
            "description": "UUID relating to the service principal"
          },
          "displayName": {
            "type": "string",
            "description": "String that represents a concatenation of given and family names."
          },
          "externalId": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "Databricks service principal ID."
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "Indicates if the group has the admin role."
          }
        }
      },
      "AccountUser": {
        "type": "object",
        "properties": {
          "account_id": {
            "type": "string"
          },
          "active": {
            "type": "boolean",
            "description": "If this user is active"
          },
          "displayName": {
            "type": "string",
            "description": "String that represents a concatenation of given and family names. For example `John Smith`."
          },
          "emails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "All the emails associated with the Databricks user."
          },
          "externalId": {
            "type": "string",
            "description": "External ID is not currently supported. It is reserved for future use."
          },
          "id": {
            "type": "string",
            "description": "Databricks user ID."
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "Indicates if the group has the admin role."
          },
          "userName": {
            "type": "string",
            "description": "Email address of the Databricks user."
          }
        }
      },
      "Actor": {
        "type": "object",
        "properties": {
          "actor_id": {
            "type": "integer"
          }
        },
        "description": "represents an identity trying to access a resource - user or a service principal group can be a\n    principal of a permission set assignment but an actor is always a user or a service principal"
      },
      "CheckPolicyResponse": {
        "type": "object",
        "properties": {
          "consistency_token": {
            "$ref": "#/components/schemas/ConsistencyToken"
          },
          "is_permitted": {
            "type": "boolean"
          }
        },
        "required": [
          "consistency_token"
        ]
      },
      "ComplexValue": {
        "type": "object",
        "properties": {
          "display": {
            "type": "string"
          },
          "primary": {
            "type": "boolean"
          },
          "$ref": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "ConsistencyToken": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        },
        "required": [
          "value"
        ]
      },
      "DeleteWorkspacePermissionAssignmentResponse": {
        "type": "object",
        "properties": {}
      },
      "GetAssignableRolesForResourceResponse": {
        "type": "object",
        "properties": {
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Role"
            }
          }
        }
      },
      "GetPasswordPermissionLevelsResponse": {
        "type": "object",
        "properties": {
          "permission_levels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PasswordPermissionsDescription"
            }
          }
        }
      },
      "GetPermissionLevelsResponse": {
        "type": "object",
        "properties": {
          "permission_levels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionsDescription"
            }
          }
        }
      },
      "GrantRule": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          },
          "principals": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Principals this grant rule applies to. A principal can be a user (for end users), a service principal (for applications and compute workloads), or an account group. Each principal has its own identifier format: * users/<USERNAME> * groups/<GROUP_NAME> * servicePrincipals/<SERVICE_PRINCIPAL_APPLICATION_ID>"
          }
        },
        "required": [
          "role"
        ]
      },
      "Group": {
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string"
          },
          "entitlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "Entitlements assigned to the group. See [assigning entitlements] for a full list of supported values. [assigning entitlements]: https://docs.databricks.com/administration-guide/users-groups/index.html#assigning-entitlements"
          },
          "externalId": {
            "type": "string",
            "description": "external_id should be unique for identifying groups"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            }
          },
          "id": {
            "type": "string",
            "description": "Databricks group ID"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/ResourceMeta",
            "description": "Container for the group identifier. Workspace local versus account."
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "Corresponds to AWS instance profile/arn role."
          },
          "schemas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupSchema"
            },
            "description": "The schema of the group."
          }
        }
      },
      "ListAccountGroupsResponse": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountGroup"
            },
            "description": "User objects returned in the response."
          },
          "startIndex": {
            "type": "integer",
            "description": "Starting index of all the results that matched the request filters. First item is number 1."
          },
          "totalResults": {
            "type": "integer",
            "description": "Total results that match the request filters."
          }
        }
      },
      "ListAccountServicePrincipalsResponse": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountServicePrincipal"
            },
            "description": "User objects returned in the response."
          },
          "startIndex": {
            "type": "integer",
            "description": "Starting index of all the results that matched the request filters. First item is number 1."
          },
          "totalResults": {
            "type": "integer",
            "description": "Total results that match the request filters."
          }
        }
      },
      "ListAccountUsersResponse": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountUser"
            },
            "description": "User objects returned in the response."
          },
          "startIndex": {
            "type": "integer",
            "description": "Starting index of all the results that matched the request filters. First item is number 1."
          },
          "totalResults": {
            "type": "integer",
            "description": "Total results that match the request filters."
          }
        }
      },
      "ListGroupsResponse": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Group"
            },
            "description": "User objects returned in the response."
          },
          "schemas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListResponseSchema"
            },
            "description": "The schema of the service principal."
          },
          "startIndex": {
            "type": "integer",
            "description": "Starting index of all the results that matched the request filters. First item is number 1."
          },
          "totalResults": {
            "type": "integer",
            "description": "Total results that match the request filters."
          }
        }
      },
      "ListServicePrincipalResponse": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServicePrincipal"
            },
            "description": "User objects returned in the response."
          },
          "schemas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListResponseSchema"
            },
            "description": "The schema of the List response."
          },
          "startIndex": {
            "type": "integer",
            "description": "Starting index of all the results that matched the request filters. First item is number 1."
          },
          "totalResults": {
            "type": "integer",
            "description": "Total results that match the request filters."
          }
        }
      },
      "ListUsersResponse": {
        "type": "object",
        "properties": {
          "itemsPerPage": {
            "type": "integer"
          },
          "Resources": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            },
            "description": "User objects returned in the response."
          },
          "schemas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListResponseSchema"
            },
            "description": "The schema of the List response."
          },
          "startIndex": {
            "type": "integer",
            "description": "Starting index of all the results that matched the request filters. First item is number 1."
          },
          "totalResults": {
            "type": "integer",
            "description": "Total results that match the request filters."
          }
        }
      },
      "MigratePermissionsResponse": {
        "type": "object",
        "properties": {
          "permissions_migrated": {
            "type": "integer"
          }
        }
      },
      "Name": {
        "type": "object",
        "properties": {
          "familyName": {
            "type": "string"
          },
          "givenName": {
            "type": "string",
            "description": "Given name of the Databricks user."
          }
        }
      },
      "ObjectPermissions": {
        "type": "object",
        "properties": {
          "access_control_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccessControlResponse"
            }
          },
          "object_id": {
            "type": "string"
          },
          "object_type": {
            "type": "string"
          }
        }
      },
      "PasswordAccessControlRequest": {
        "type": "object",
        "properties": {
          "group_name": {
            "type": "string"
          },
          "permission_level": {
            "$ref": "#/components/schemas/PasswordPermissionLevel",
            "description": "Permission level"
          },
          "service_principal_name": {
            "type": "string",
            "description": "application ID of a service principal"
          },
          "user_name": {
            "type": "string",
            "description": "name of the user"
          }
        }
      },
      "PasswordAccessControlResponse": {
        "type": "object",
        "properties": {
          "all_permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PasswordPermission"
            }
          },
          "display_name": {
            "type": "string",
            "description": "Display name of the user or service principal."
          },
          "group_name": {
            "type": "string",
            "description": "name of the group"
          },
          "service_principal_name": {
            "type": "string",
            "description": "Name of the service principal."
          },
          "user_name": {
            "type": "string",
            "description": "name of the user"
          }
        }
      },
      "PasswordPermission": {
        "type": "object",
        "properties": {
          "inherited": {
            "type": "boolean"
          },
          "inherited_from_object": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permission_level": {
            "$ref": "#/components/schemas/PasswordPermissionLevel",
            "description": "Permission level"
          }
        }
      },
      "PasswordPermissions": {
        "type": "object",
        "properties": {
          "access_control_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PasswordAccessControlResponse"
            }
          },
          "object_id": {
            "type": "string"
          },
          "object_type": {
            "type": "string"
          }
        }
      },
      "PasswordPermissionsDescription": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "permission_level": {
            "$ref": "#/components/schemas/PasswordPermissionLevel",
            "description": "Permission level"
          }
        }
      },
      "Patch": {
        "type": "object",
        "properties": {
          "op": {
            "$ref": "#/components/schemas/PatchOp"
          },
          "path": {
            "type": "string",
            "description": "Selection of patch operation"
          },
          "value": {
            "type": "object",
            "description": "Value to modify"
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "inherited": {
            "type": "boolean"
          },
          "inherited_from_object": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "permission_level": {
            "$ref": "#/components/schemas/PermissionLevel"
          }
        }
      },
      "PermissionAssignment": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error response associated with a workspace permission assignment, if any."
          },
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkspacePermission"
            },
            "description": "The permissions level of the principal."
          },
          "principal": {
            "$ref": "#/components/schemas/PrincipalOutput",
            "description": "Information about the principal assigned to the workspace."
          }
        },
        "description": "The output format for existing workspace PermissionAssignment records, which contains some info\n    for user consumption."
      },
      "PermissionAssignments": {
        "type": "object",
        "properties": {
          "permission_assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PermissionAssignment"
            }
          }
        }
      },
      "PermissionOutput": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "permission_level": {
            "$ref": "#/components/schemas/WorkspacePermission"
          }
        }
      },
      "PermissionsDescription": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "permission_level": {
            "$ref": "#/components/schemas/PermissionLevel"
          }
        }
      },
      "PrincipalOutput": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "description": "The display name of the principal."
          },
          "group_name": {
            "type": "string",
            "description": "The group name of the group. Present only if the principal is a group."
          },
          "principal_id": {
            "type": "integer",
            "description": "The unique, opaque id of the principal."
          },
          "service_principal_name": {
            "type": "string",
            "description": "The name of the service principal. Present only if the principal is a service principal."
          },
          "user_name": {
            "type": "string",
            "description": "The username of the user. Present only if the principal is a user."
          }
        },
        "description": "Information about the principal assigned to the workspace."
      },
      "ResourceInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "legacy_acl_path": {
            "type": "string",
            "description": "The legacy acl path of the current resource."
          },
          "parent_resource_info": {
            "$ref": "#/components/schemas/ResourceInfo",
            "description": "Parent resource info for the current resource. The parent may have another parent."
          }
        },
        "required": [
          "id"
        ]
      },
      "ResourceMeta": {
        "type": "object",
        "properties": {
          "resourceType": {
            "type": "string"
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ]
      },
      "RuleSetResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "etag": {
            "type": "string",
            "description": "Identifies the version of the rule set returned. Etag used for versioning. The response is at least as fresh as the eTag provided. Etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a rule set from overwriting each other. It is strongly suggested that systems make use of the etag in the read -> modify -> write pattern to perform rule set updates in order to avoid race conditions that is get an etag from a GET rule set request, and pass it with the PUT update request to identify the rule set version you are updating."
          },
          "grant_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GrantRule"
            }
          }
        },
        "required": [
          "name",
          "etag"
        ]
      },
      "RuleSetUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "etag": {
            "type": "string",
            "description": "Identifies the version of the rule set returned. Etag used for versioning. The response is at least as fresh as the eTag provided. Etag is used for optimistic concurrency control as a way to help prevent simultaneous updates of a rule set from overwriting each other. It is strongly suggested that systems make use of the etag in the read -> modify -> write pattern to perform rule set updates in order to avoid race conditions that is get an etag from a GET rule set request, and pass it with the PUT update request to identify the rule set version you are updating."
          },
          "grant_rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GrantRule"
            }
          }
        },
        "required": [
          "name",
          "etag"
        ]
      },
      "ServicePrincipal": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "applicationId": {
            "type": "string",
            "description": "UUID relating to the service principal"
          },
          "displayName": {
            "type": "string",
            "description": "String that represents a concatenation of given and family names."
          },
          "entitlements": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "Entitlements assigned to the service principal. See [assigning entitlements] for a full list of supported values. [assigning entitlements]: https://docs.databricks.com/administration-guide/users-groups/index.html#assigning-entitlements"
          },
          "externalId": {
            "type": "string"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            }
          },
          "id": {
            "type": "string",
            "description": "Databricks service principal ID."
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComplexValue"
            },
            "description": "Corresponds to AWS instance profile/arn role."
          },
          "schemas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ServicePrincipalSchema"
            },
            "description": "The schema of the List response."
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "displayName": {
            "type": "string",
[...]
