{
  "openapi": "3.0.0",
  "info": {
    "title": "Databricks Settingsv2 API (account)",
    "description": "OpenAPI specification for the Databricks settingsv2 service (account-level APIs), generated from the Databricks Python SDK.",
    "version": "0.1.0",
    "x-stackql-sdk-version": "0.86.0",
    "x-stackql-date-generated": "2026-02-11",
    "x-stackql-sdk-namespace": "databricks.sdk.service.settingsv2"
  },
  "servers": [
    {
      "url": "https://accounts.cloud.databricks.com",
      "description": "Databricks account"
    }
  ],
  "paths": {
    "/api/2.1/accounts/{account_id}/settings/{name}": {
      "get": {
        "operationId": "account_settings_v2_get_public_account_setting",
        "summary": "Get a setting value at account level. See :method:settingsv2/listaccountsettingsmetadata for list of",
        "tags": [
          "settingsv2",
          "account_settings_v2"
        ],
        "description": "Get a setting value at account level. See :method:settingsv2/listaccountsettingsmetadata for list of\nsetting available via public APIs at account level.\n\n:param name: str\n\n:returns: :class:`Setting`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ":returns: :class:`Setting`"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountSettingsV2API"
      },
      "patch": {
        "operationId": "account_settings_v2_patch_public_account_setting",
        "summary": "Patch a setting value at account level. See :method:settingsv2/listaccountsettingsmetadata for list of",
        "tags": [
          "settingsv2",
          "account_settings_v2"
        ],
        "description": "Patch a setting value at account level. See :method:settingsv2/listaccountsettingsmetadata for list of\nsetting available via public APIs at account level. To determine the correct field to include in a\npatch request, refer to the type field of the setting returned in the\n:method:settingsv2/listaccountsettingsmetadata response.\n\nNote: Page refresh is required for changes to take effect in UI.\n\n:param name: str\n:param setting: :class:`Setting`\n\n:returns: :class:`Setting`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ":param setting: :class:`Setting`"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "setting": {
                    "type": "string"
                  }
                },
                "required": [
                  "setting"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Setting"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountSettingsV2API"
      }
    },
    "/api/2.1/accounts/{account_id}/users/{user_id}/settings/{name}": {
      "get": {
        "operationId": "account_settings_v2_get_public_account_user_preference",
        "summary": "Get a user preference for a specific user. User preferences are personal settings that allow",
        "tags": [
          "settingsv2",
          "account_settings_v2"
        ],
        "description": "Get a user preference for a specific user. User preferences are personal settings that allow\nindividual customization without affecting other users. See\n:method:settingsv2/listaccountuserpreferencesmetadata for list of user preferences available via\npublic APIs.\n\n:param user_id: str\n  User ID of the user whose setting is being retrieved.\n:param name: str\n  User Setting name.\n\n:returns: :class:`UserPreference`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID of the user whose setting is being retrieved."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User Setting name."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreference"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountSettingsV2API"
      },
      "patch": {
        "operationId": "account_settings_v2_patch_public_account_user_preference",
        "summary": "Update a user preference for a specific user. User preferences are personal settings that allow",
        "tags": [
          "settingsv2",
          "account_settings_v2"
        ],
        "description": "Update a user preference for a specific user. User preferences are personal settings that allow\nindividual customization without affecting other users. See\n:method:settingsv2/listaccountuserpreferencesmetadata for list of user preferences available via\npublic APIs.\n\nNote: Page refresh is required for changes to take effect in UI.\n\n:param user_id: str\n  User ID of the user whose setting is being updated.\n:param name: str\n:param setting: :class:`UserPreference`\n\n:returns: :class:`UserPreference`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID of the user whose setting is being updated."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": ":param setting: :class:`UserPreference`"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "setting": {
                    "type": "string"
                  }
                },
                "required": [
                  "setting"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPreference"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountSettingsV2API"
      }
    },
    "/api/2.1/accounts/{account_id}/settings-metadata": {
      "get": {
        "operationId": "account_settings_v2_list_account_settings_metadata",
        "summary": "List valid setting keys and metadata. These settings are available to be referenced via GET",
        "tags": [
          "settingsv2",
          "account_settings_v2"
        ],
        "description": "List valid setting keys and metadata. These settings are available to be referenced via GET\n:method:settingsv2/getpublicaccountsetting and PATCH :method:settingsv2/patchpublicaccountsetting APIs\n\n:param page_size: int (optional)\n  The maximum number of settings to return. The service may return fewer than this value. If\n  unspecified, at most 200 settings will be returned. The maximum value is 1000; values above 1000\n  will be coerced to 1000.\n:param page_token: str (optional)\n  A page token, received from a previous `ListAccountSettingsMetadataRequest` call. Provide this to\n  retrieve the subsequent page.\n\n  When paginating, all other parameters provided to `ListAccountSettingsMetadataRequest` must match\n  the call that provided the page token.\n\n:returns: Iterator over :class:`SettingsMetadata`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of settings to return. The service may return fewer than this value. If unspecified, at most 200 settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A page token, received from a previous `ListAccountSettingsMetadataRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSettingsMetadataRequest` must match the call that provided the page token."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountSettingsMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountSettingsV2API"
      }
    },
    "/api/2.1/accounts/{account_id}/users/{user_id}/settings-metadata": {
      "get": {
        "operationId": "account_settings_v2_list_account_user_preferences_metadata",
        "summary": "List valid user preferences and their metadata for a specific user. User preferences are personal",
        "tags": [
          "settingsv2",
          "account_settings_v2"
        ],
        "description": "List valid user preferences and their metadata for a specific user. User preferences are personal\nsettings that allow individual customization without affecting other users. These settings are\navailable to be referenced via GET :method:settingsv2/getpublicaccountuserpreference and PATCH\n:method:settingsv2/patchpublicaccountuserpreference APIs\n\n:param user_id: str\n  User ID of the user whose settings metadata is being retrieved.\n:param page_size: int (optional)\n  The maximum number of settings to return. The service may return fewer than this value. If\n  unspecified, at most 200 settings will be returned. The maximum value is 1000; values above 1000\n  will be coerced to 1000.\n:param page_token: str (optional)\n  A page token, received from a previous `ListAccountUserPreferencesMetadataRequest` call. Provide\n  this to retrieve the subsequent page.\n\n  When paginating, all other parameters provided to `ListAccountUserPreferencesMetadataRequest` must\n  match the call that provided the page token.\n\n:returns: Iterator over :class:`SettingsMetadata`",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "User ID of the user whose settings metadata is being retrieved."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The maximum number of settings to return. The service may return fewer than this value. If unspecified, at most 200 settings will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "A page token, received from a previous `ListAccountUserPreferencesMetadataRequest` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountUserPreferencesMetadataRequest` must match the call that provided the page token."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountSettingsMetadataResponse"
                }
              }
            }
          },
          "default": {
            "description": "Error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "x-stackql-sdk-source": "AccountSettingsV2API"
      }
    }
  },
  "components": {
    "schemas": {
      "AibiDashboardEmbeddingAccessPolicy": {
        "type": "object",
        "properties": {
          "access_policy_type": {
            "$ref": "#/components/schemas/AibiDashboardEmbeddingAccessPolicyAccessPolicyType"
          }
        },
        "required": [
          "access_policy_type"
        ]
      },
      "AibiDashboardEmbeddingApprovedDomains": {
        "type": "object",
        "properties": {
          "approved_domains": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "BooleanMessage": {
        "type": "object",
        "properties": {
          "value": {
            "type": "boolean"
          }
        }
      },
      "ClusterAutoRestartMessage": {
        "type": "object",
        "properties": {
          "can_toggle": {
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "enablement_details": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessageEnablementDetails"
          },
          "maintenance_window": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessageMaintenanceWindow"
          },
          "restart_even_if_no_updates_available": {
            "type": "boolean"
          }
        }
      },
      "ClusterAutoRestartMessageEnablementDetails": {
        "type": "object",
        "properties": {
          "forced_for_compliance_mode": {
            "type": "boolean",
            "description": "The feature is force enabled if compliance mode is active"
          },
          "unavailable_for_disabled_entitlement": {
            "type": "boolean",
            "description": "The feature is unavailable if the corresponding entitlement disabled (see getShieldEntitlementEnable)"
          },
          "unavailable_for_non_enterprise_tier": {
            "type": "boolean",
            "description": "The feature is unavailable if the customer doesn't have enterprise tier"
          }
        },
        "description": "Contains an information about the enablement status judging (e.g. whether the enterprise tier is\n    enabled) This is only additional information that MUST NOT be used to decide whether the setting\n    is enabled or not. This is intended to use only for purposes like showing an error message to\n    the customer with the additional details. For example, using these details we can check why\n    exactly the feature is disabled for this customer."
      },
      "ClusterAutoRestartMessageMaintenanceWindow": {
        "type": "object",
        "properties": {
          "week_day_based_schedule": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessageMaintenanceWindowWeekDayBasedSchedule"
          }
        }
      },
      "ClusterAutoRestartMessageMaintenanceWindowWeekDayBasedSchedule": {
        "type": "object",
        "properties": {
          "day_of_week": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessageMaintenanceWindowDayOfWeek"
          },
          "frequency": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessageMaintenanceWindowWeekDayFrequency"
          },
          "window_start_time": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessageMaintenanceWindowWindowStartTime"
          }
        }
      },
      "ClusterAutoRestartMessageMaintenanceWindowWindowStartTime": {
        "type": "object",
        "properties": {
          "hours": {
            "type": "integer"
          },
          "minutes": {
            "type": "integer"
          }
        }
      },
      "IntegerMessage": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer"
          }
        }
      },
      "ListAccountSettingsMetadataResponse": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "settings_metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SettingsMetadata"
            },
            "description": "List of all settings available via public APIs and their metadata"
          }
        }
      },
      "ListAccountUserPreferencesMetadataResponse": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "settings_metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SettingsMetadata"
            },
            "description": "List of all settings available via public APIs and their metadata"
          }
        }
      },
      "ListWorkspaceSettingsMetadataResponse": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "settings_metadata": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SettingsMetadata"
            },
            "description": "List of all settings available via public APIs and their metadata"
          }
        }
      },
      "PersonalComputeMessage": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/PersonalComputeMessagePersonalComputeMessageEnum"
          }
        }
      },
      "RestrictWorkspaceAdminsMessage": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/RestrictWorkspaceAdminsMessageStatus"
          }
        },
        "required": [
          "status"
        ]
      },
      "Setting": {
        "type": "object",
        "properties": {
          "aibi_dashboard_embedding_access_policy": {
            "$ref": "#/components/schemas/AibiDashboardEmbeddingAccessPolicy"
          },
          "aibi_dashboard_embedding_approved_domains": {
            "$ref": "#/components/schemas/AibiDashboardEmbeddingApprovedDomains",
            "description": "Setting value for aibi_dashboard_embedding_approved_domains setting. This is the setting value set by consumers, check effective_aibi_dashboard_embedding_approved_domains for final setting value."
          },
          "automatic_cluster_update_workspace": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessage",
            "description": "Setting value for automatic_cluster_update_workspace setting. This is the setting value set by consumers, check effective_automatic_cluster_update_workspace for final setting value."
          },
          "boolean_val": {
            "$ref": "#/components/schemas/BooleanMessage",
            "description": "Setting value for boolean type setting. This is the setting value set by consumers, check effective_boolean_val for final setting value."
          },
          "effective_aibi_dashboard_embedding_access_policy": {
            "$ref": "#/components/schemas/AibiDashboardEmbeddingAccessPolicy",
            "description": "Effective setting value for aibi_dashboard_embedding_access_policy setting. This is the final effective value of setting. To set a value use aibi_dashboard_embedding_access_policy."
          },
          "effective_aibi_dashboard_embedding_approved_domains": {
            "$ref": "#/components/schemas/AibiDashboardEmbeddingApprovedDomains",
            "description": "Effective setting value for aibi_dashboard_embedding_approved_domains setting. This is the final effective value of setting. To set a value use aibi_dashboard_embedding_approved_domains."
          },
          "effective_automatic_cluster_update_workspace": {
            "$ref": "#/components/schemas/ClusterAutoRestartMessage",
            "description": "Effective setting value for automatic_cluster_update_workspace setting. This is the final effective value of setting. To set a value use automatic_cluster_update_workspace."
          },
          "effective_boolean_val": {
            "$ref": "#/components/schemas/BooleanMessage",
            "description": "Effective setting value for boolean type setting. This is the final effective value of setting. To set a value use boolean_val."
          },
          "effective_integer_val": {
            "$ref": "#/components/schemas/IntegerMessage",
            "description": "Effective setting value for integer type setting. This is the final effective value of setting. To set a value use integer_val."
          },
          "effective_personal_compute": {
            "$ref": "#/components/schemas/PersonalComputeMessage",
            "description": "Effective setting value for personal_compute setting. This is the final effective value of setting. To set a value use personal_compute."
          },
          "effective_restrict_workspace_admins": {
            "$ref": "#/components/schemas/RestrictWorkspaceAdminsMessage",
            "description": "Effective setting value for restrict_workspace_admins setting. This is the final effective value of setting. To set a value use restrict_workspace_admins."
          },
          "effective_string_val": {
            "$ref": "#/components/schemas/StringMessage",
            "description": "Effective setting value for string type setting. This is the final effective value of setting. To set a value use string_val."
          },
          "integer_val": {
            "$ref": "#/components/schemas/IntegerMessage",
            "description": "Setting value for integer type setting. This is the setting value set by consumers, check effective_integer_val for final setting value."
          },
          "name": {
            "type": "string",
            "description": "Name of the setting."
          },
          "personal_compute": {
            "$ref": "#/components/schemas/PersonalComputeMessage",
            "description": "Setting value for personal_compute setting. This is the setting value set by consumers, check effective_personal_compute for final setting value."
          },
          "restrict_workspace_admins": {
            "$ref": "#/components/schemas/RestrictWorkspaceAdminsMessage",
            "description": "Setting value for restrict_workspace_admins setting. This is the setting value set by consumers, check effective_restrict_workspace_admins for final setting value."
          },
          "string_val": {
            "$ref": "#/components/schemas/StringMessage",
            "description": "Setting value for string type setting. This is the setting value set by consumers, check effective_string_val for final setting value."
          }
        }
      },
      "SettingsMetadata": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "docs_link": {
            "type": "string",
            "description": "Link to databricks documentation for the setting"
          },
          "name": {
            "type": "string",
            "description": "Name of the setting."
          },
          "type": {
            "type": "string",
            "description": "Sample message depicting the type of the setting. To set this setting, the value sent must match this type."
          }
        }
      },
      "StringMessage": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          }
        }
      },
      "UserPreference": {
        "type": "object",
        "properties": {
          "boolean_val": {
            "$ref": "#/components/schemas/BooleanMessage"
          },
          "effective_boolean_val": {
            "$ref": "#/components/schemas/BooleanMessage"
          },
          "effective_string_val": {
            "$ref": "#/components/schemas/StringMessage"
          },
          "name": {
            "type": "string",
            "description": "Name of the setting."
          },
          "string_val": {
            "$ref": "#/components/schemas/StringMessage"
          },
          "user_id": {
            "type": "string",
            "description": "User ID of the user."
          }
        },
        "description": "User Preference represents a user-specific setting scoped to an individual user within an\n    account. Unlike workspace or account settings that apply to all users, user preferences allow\n    personal customization (e.g., UI theme, editor preferences) without affecting other users."
      },
      "AibiDashboardEmbeddingAccessPolicyAccessPolicyType": {
        "type": "string",
        "enum": [
          "ALLOW_ALL_DOMAINS",
          "ALLOW_APPROVED_DOMAINS",
          "DENY_ALL_DOMAINS"
        ],
        "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
      },
      "ClusterAutoRestartMessageMaintenanceWindowDayOfWeek": {
        "type": "string",
        "enum": [
          "FRIDAY",
          "MONDAY",
          "SATURDAY",
          "SUNDAY",
          "THURSDAY",
          "TUESDAY",
          "WEDNESDAY"
        ],
        "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
      },
      "ClusterAutoRestartMessageMaintenanceWindowWeekDayFrequency": {
        "type": "string",
        "enum": [
          "EVERY_WEEK",
          "FIRST_AND_THIRD_OF_MONTH",
          "FIRST_OF_MONTH",
          "FOURTH_OF_MONTH",
          "SECOND_AND_FOURTH_OF_MONTH",
          "SECOND_OF_MONTH",
          "THIRD_OF_MONTH"
        ],
        "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
      },
      "PersonalComputeMessagePersonalComputeMessageEnum": {
        "type": "string",
        "enum": [
          "DELEGATE",
          "ON"
        ],
        "description": "ON: Grants all users in all workspaces access to the Personal Compute default policy, allowing\nall users to create single-machine compute resources. DELEGATE: Moves access control for the\nPersonal Compute default policy to individual workspaces and requires a workspace\u2019s users or\ngroups to be added to the ACLs of that workspace\u2019s Personal Compute default policy before they\nwill be able to create compute resources through that policy."
      },
      "RestrictWorkspaceAdminsMessageStatus": {
        "type": "string",
        "enum": [
          "ALLOW_ALL",
          "RESTRICT_TOKENS_AND_JOB_RUN_AS"
        ],
        "description": "Create a collection of name/value pairs.\n\nExample enumeration:\n\n>>> class Color(Enum):\n...     RED = 1\n...     BLUE = 2\n...     GREEN = 3\n\nAccess them by:\n\n- attribute access:\n\n  >>> Color.RED\n  <Color.RED: 1>\n\n- value lookup:\n\n  >>> Color(1)\n  <Color.RED: 1>\n\n- name lookup:\n\n  >>> Color['RED']\n  <Color.RED: 1>\n\nEnumerations can be iterated over, and know how many members they have:\n\n>>> len(Color)\n3\n\n>>> list(Color)\n[<Color.RED: 1>, <Color.BLUE: 2>, <Color.GREEN: 3>]\n\nMethods can be added to enumerations, and members can have their own\nattributes -- see the documentation for details."
      }
    }
  }
}