name: build

on:
  pull_request:
    types: [opened, synchronize]
  merge_group:
    types: [checks_requested]

jobs:
  tests-ubuntu:
    uses: ./.github/workflows/test.yml
    strategy:
      fail-fast: false
      matrix:
        pyVersion: [ '3.7', '3.8', '3.9', '3.10', '3.11', '3.12' ]
    with:
      os: ubuntu-latest
      pyVersion: ${{ matrix.pyVersion }}

  tests-windows:
      uses: ./.github/workflows/test.yml
      strategy:
        fail-fast: false
        matrix:
          pyVersion: [ '3.9', '3.10', '3.11', '3.12' ]
      with:
        os: windows-latest
        pyVersion: ${{ matrix.pyVersion }}
          
  fmt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Format all files
        run: make dev fmt

      - name: Fail on differences
        run: git diff --exit-code

  commit-message:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Validate Tag
        run: |
          TAG=$(echo ${{ github.event.pull_request.title }} | sed -ne 's/\[\(.*\)\].*/\1/p')
          if grep -q "tag: \"[$TAG]\"" .codegen/changelog_config.yml; then 
            echo "Invalid or missing tag in commit message: [$TAG]" 
            exit 1
          else 
            echo "Valid tag found: [$TAG]"
          fi