name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on:
      group: databricks-deco-testing-runner-group
      labels: ubuntu-latest-deco

    environment: release

    permissions:
      contents: write
      id-token: write

    steps:
      - uses: actions/checkout@v3

      - name: Install build
        run: pip install build

      - name: Build wheel
        run: python -m build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          draft: true
          files: |
            dist/databricks_*.whl
            dist/databricks_*.tar.gz

      - uses: pypa/gh-action-pypi-publish@release/v1
        name: Publish package distributions to PyPI
