name: Release (TestPyPI)

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release-test
    steps:
      - uses: actions/checkout@v3

      - name: Build wheel
        run: make dev install dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: pypa/gh-action-pypi-publish@release/v1
        name: Publish package distributions to TestPyPI
        with:
          repository-url: https://test.pypi.org/legacy/
